$row-table-height: 33px;
$row-table-title-height: 37px;
$row-select-option-height: 33px;
$header-height: 75px;
$element-height-select-tab-input-search: 35px;
$progressbar-height: 6px;
$navside-root-row-height: 50px;
$navside-internal-row-height: 40px;
$height-button-dark: 33px;
$height-button-white: 35px;
