<div
		class="Signup__control"
		*ngFor="let fc of foreignControls; first as isFirst; last as isLast"
		[formGroup]="form"
>
	<ng-container *ngIf="isFirst">
		<div
				class="button-link"
				(click)="hideFirst = !hideFirst; rebuildControls()"
		>
			{{
			'foreignCredentialsUpdate.' +
			(hideFirst ? 'toggleWithFieldPtrn' : 'toggleWithoutFieldPtrn')
					| translate: fc
			}}
		</div>
	</ng-container>
	
	<ng-container
			*ngIf="
      fc.controlType === 'password' &&
      !fc.key.includes('Confirm') &&
      settings.otp
    "
	>
		<div
				class="button-link"
				(click)="hidePassword = !hidePassword; rebuildControls()"
		>
			{{
			'foreignCredentialsUpdate.' +
			(hidePassword ? 'toggleWithFieldPtrn' : 'toggleWithoutFieldPtrn')
					| translate: fc
			}}
		</div>
	</ng-container>
	
	<ng-container
			*ngIf="
      !isFirst &&
      !(
        fc.controlType === 'password' ||
        fc.key.includes('Confirm') ||
        settings.otp
      )
    "
	>
		<div
				class="button-link"
				(click)="hideThird = !hideThird; rebuildControls()"
		>
			{{
			'foreignCredentialsUpdate.' +
			(hideThird ? 'toggleWithFieldPtrn' : 'toggleWithoutFieldPtrn')
					| translate: fc
			}}
		</div>
	</ng-container>
	
	<div class="Form__group" *ngIf="form.contains(fc.key)">
		<label [for]="fc.key">{{
			fc.controlType === 'password' && !fc.key.includes('Confirm')
					? ('foreignCredentialsUpdate.newPassword' | translate)
					: fc.label
			}}</label>
		<div
				[ngClass]="{
        Form__group: true,
        'Form__group--err':
          (form.get(fc.key).invalid && form.get(fc.key).dirty) ||
          (fc.controlType === 'password' && form.hasError('passwordNotMatch')),
        'Form__group--icon': fc.controlType === 'password'
      }"
		>
			<img
					*ngIf="fc.controlType === 'password'"
					(click)="passwordShowMasked = !passwordShowMasked"
					 [src]="
          '/assets/images/' +
          (passwordShowMasked ? 'visibility_off' : 'visibility') +
          '.svg'
        "
			/>
			<!--<i (click)="passwordShowMasked = !passwordShowMasked" *ngIf="fc.controlType === 'password'"-->
			<!--[ngClass]="{'fa': true, 'fa-eye': passwordShowMasked, 'fa-eye-slash': !passwordShowMasked}"></i>-->
			<input
					[type]="
          fc.controlType !== 'password'
            ? fc.controlType
            : !passwordShowMasked
            ? 'text'
            : fc.controlType
        "
					[id]="fc.key"
					[name]="fc.key"
					[formControl]="form.controls[fc.key]"
					[autocomplete]="
          fc.controlType === 'password' && passwordShowMasked
            ? 'new-password'
            : 'off'
        "
			/>
		</div>
		<ng-container *ngFor="let rule of fc.rules">
			<div
					class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
					*ngIf="form.get(fc.key).invalid && form.get(fc.key).dirty"
			>
				<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
			</div>
		</ng-container>
		<div
				class="Form__feedback Form__feedback--err Form__feedback--warning--block"
				style="text-align: center"
				*ngIf="fc.key.includes('Confirm')"
				[style.visibility]="
        form.hasError('passwordNotMatch') ? 'visible' : 'hidden'
      "
		>
			<i class="fa fa-fw fa-exclamation-triangle"></i>
			{{ 'validation.passwordNotEqual' | translate }}
		</div>
	</div>
</div>
<div class="Form__foreignOtpTypes" *ngIf="otpTargetSettings">
	<div class="mat-typography" [formGroup]="otpForm">
		<div class="selected-desc">{{ otpTargetSettings.description }}</div>
		<div
				*ngFor="let otpType of otpTargetSettings.otpTypes; first as isFirst"
				class="otp-credential-option"
				[style.background]="
        otpForm.get('otpType').value === otpType.value
          ? '#f7f7f7'
          : 'transparent'
      "
		>
			<p-radioButton
					name="otpType"
					formControlName="otpType"
					[value]="otpType.value"
					[label]="otpType.label"
					[style]="{ 'font-weight': 'bold' }"
			></p-radioButton>
			<span *ngIf="isFirst" class="tag success">מומלץ!</span>
			<i
					class="fas fa-info-circle"
					[pTooltip]="otpType.info"
					[escape]="false"
					[tooltipPosition]="'top'"
			></i>
			<div
					class="Signup__control"
					[formGroup]="otpForm"
					*ngIf="otpForm.get('otpType').value === otpType.value"
			>
				<p>{{ otpType.description }}</p>
				<!--<label [for]="otpControl.key">-->
				<!--&lt;!&ndash;{{otpTargetSettings.description}}&ndash;&gt;-->
				<!--&lt;!&ndash;{{otpControl.label}}&ndash;&gt;-->
				<!--</label>-->
				<div
						[ngClass]="{
            Form__group: true,
            'Form__group--err':
              !otpForm.get(otpControl.key).valid &&
              otpForm.get(otpControl.key).dirty
          }"
				>
					<input
							type="text"
							[formControl]="otpForm.get(otpControl.key)"
							[placeholder]="
              otpType.value === 'constant'
                ? ('expressions.leaveEmptyIfNoChangeIntention' | translate)
                : ''
            "
					/>
					<div
							class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
							[style.visibility]="
              otpForm.get(otpControl.key).invalid &&
              otpForm.get(otpControl.key).dirty
                ? 'visible'
                : 'hidden'
            "
							*ngFor="let rule of otpControl.rules"
					>
						<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
