<div class="menu-dd menu-with-panel">
	<button
			class="buttonDD no-selection"
			*ngIf="
      userService.appData?.userData?.creditCards?.length === 1 &&
        userService.appData.userData.creditCards[0].children.length === 1;
      else selectionAvailable
    "
			[id]="'cCards-selector'"
	>
		<!--<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/bank{{userService.appData.userData.creditCards[0].children[0].creditCardTypeId}}.png" *ngIf="userService.appData.userData.creditCards[0].children[0].creditCardTypeId">-->
		<p>
			{{
			userService.appData.userData.creditCards[0].children[0]
					.creditCardNickname
			}}
			{{
			isBankAndCreditScreen &&
			userService.appData.userData.creditCards[0].children[0].izuCustId
					? userService.appData.userData.creditCards[0].children[0].izuCustId
					: ''
			}}
		</p>
	</button>
	
	<ng-template #selectionAvailable>
		<button
				class="buttonDD"
				(click)="showPanelDD = !showPanelDD"
				[class.opened]="showPanelDD"
				[id]="'cCards-selector'"
				[matTooltip]="'appWalk.customers.ccardSelect' | translate"
				matTooltipPosition="above"
		>
			<p *ngIf="checkAll">{{ 'filters.allCreditCards' | translate }}</p>
			<p *ngIf="!checkAll">{{ textCards }}</p>
		</button>
	</ng-template>
	<div class="panelDD accountsPanel" *ngIf="showPanelDD" [@slideInOutDD]>
		<ul
				class="scroll-chrome"
				tabindex="-1"
				(keydown.enter)="showPanelDD = false"
		>
			<li
					*ngIf="
          userService.appData.userData.creditCards.length > 1 ||
          (userService.appData.userData.creditCards.length === 1 &&
            userService.appData.userData.creditCards[0].children.length > 1)
        "
			>
				<p-checkbox checkboxIcon="fa fa-check"
				            [inputId]="'all'"
				            [binary]="true"
				            [ngModel]="checkAll"
				            (onChange)="checkAll = !checkAll; changeAll()"
				            [label]="'filters.allCreditCards' | translate"
				>
				</p-checkbox>
			</li>
			<li *ngFor="let card of userService.appData.userData.creditCards">
				<div>
					<p-checkbox checkboxIcon="fa fa-check"
					            [inputId]="card?.companyAccountId"
					            [binary]="true"
					            [ngModel]="card.check"
					            (onChange)="card.check = !card.check; changeSelectionAt(card)"
					>
					</p-checkbox>
					<label [for]="card?.companyAccountId">
						<img
								style="height: auto; width: auto; position: relative;" fill [ngSrc]="!card?.bankId ? '' : (card.bankId | toIconSrc: 'bank')"
						/>
						<!--<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/bank{{card?.bankId}}.png" *ngIf="card?.bankId">-->
						<p>{{ card.accountNickname }}</p>
					</label>
				</div>
				<ul>
					<li *ngFor="let item of card.children; index as i">
						<div style="white-space: nowrap; align-items: center">
							<p-checkbox checkboxIcon="fa fa-check"
							            [inputId]="item.creditCardId"
							            [binary]="true"
							            [ngModel]="item.check"
							            (onChange)="
                  item.check = !item.check; changeSelectionAt(item, card)
                "
							            [label]="
                  item.creditCardNickname +
                  (isBankAndCreditScreen && item.izuCustId
                    ? ' - ' + item.izuCustId
                    : '')
                "
							>
							</p-checkbox>
							<span *ngIf="!item.balanceIsUpToDate" class="outdated">
                <!--              <span *ngIf="!item.alertStatus && !item.balanceIsUpToDate" class="outdated">-->
                &nbsp;<span style="color: #0f3860">-</span>&nbsp;{{
								'filters.outdated' | translate
								}}
              </span>
							<span
									*ngIf="
                  item.alertStatus | alertStatusHumanize as alertStatusHumanized
                "
									class="outdated"
							>
                <span style="color: #0f3860">-</span>&nbsp;{{
								alertStatusHumanized
								}}
              </span>
							<!--<label for="{{item?.creditCardId}}">-->
							<!--<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/bank{{item?.creditCardTypeId}}.png" *ngIf="item?.creditCardTypeId">-->
							<!--<p>{{item.creditCardNickname}}</p>-->
							<!--</label>-->
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
