<div class="tazrim-example">
  <div
    class="scalePage scroll-chrome"
    [appScrollHeight]="
      userService.appData?.userData?.topSideMesagges ? 120 : 75
    "
  >
    <div class="wrap_content">
      <h1>bizibox תזרים מזומנים</h1>
      <h3>להכיר את ההוצאות וההכנסות של העסק שלכם</h3>
      <p class="text">
        <strong> bizibox </strong>
        מנהלת עבורכם את תזרים המזומנים, התקציב והקטגוריות של העסק,
        <br />
        באופן אוטומטי תוך ניתוח מעמיק של הנתונים והצגתת מידע אמיתי ומעודכן מתוך
        כך
        <br />
        חשבונות הבנק, כרטיסי האשראי וחשבונות הסליקה של העסק. הנתונים זמינים
        עבורכם 24/7,
        <br />
        מהמחשב או מהנייד.
      </p>
      <div>
        <button (click)="setExample()">צפייה בחברה לדוגמה</button>
      </div>

      <ul>
        <li>
          <div>
            <img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/tazrim-example-1.png" />
          </div>
          <p>
            <strong> ריכוז כל הנתונים הפיננסיים </strong>
          </p>
          <p>
            נתוני בנקים, צ'קים,
            <br />
            תשלומים, כרטיסי אשראי.
            <br />
            הכל באופן אוטומטי.
          </p>
        </li>
        <li>
          <div>
            <img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/tazrim-example-2.png" />
          </div>
          <p>
            <strong> רק 3 דקות ביום </strong>
          </p>
          <p>
            מערכת ידידותית וקלה
            <br />
            לשימוש, להפקת תזרים
            <br />
            מזומנים עתידי לעסק!
          </p>
        </li>
        <li>
          <div>
            <img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/tazrim-example-3.png" />
          </div>
          <p>
            <strong> סטטוס מרוכז במייל יומי </strong>
          </p>
          <p>
            מייל ריכוז יתרות יומי, עם צפי
            <br />
            עתידי שנשלח למייל שלך
            <br />
            כל בוקר.
          </p>
        </li>
      </ul>
      <ul style="margin-bottom: 50px">
        <li>
          <div>
            <img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/tazrim-example-4.png" />
          </div>
          <p>
            <strong> התראות חכמות </strong>
          </p>
          <p>
            המערכת החכמה מזהה
            <br />
            חריגות בחשבון ובהוצאות
            <br />
            ומדווחת בשוטף.
          </p>
        </li>
        <li>
          <div>
            <img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/tazrim-example-5.png" />
          </div>
          <p>
            <strong> ליווי והדרכה על ידי נציג אישי </strong>
          </p>
          <p>
            אתם לא לבד! המומחים שלנו
            <br />
            זמינים לתמיכה וליווי
            <br />
            בשימוש במערכת.
          </p>
        </li>
        <li>
          <div>
            <img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/tazrim-example-6.png" />
          </div>
          <p>
            <strong> אפליקציה ייחודית למובייל </strong>
          </p>
          <p>
            אפליקציית המובייל שלנו
            <br />
            זמינה להורדה בחינם
            <br />
            לאנדרואיד ואייפון.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
