<ng-container *ngIf="useMaterialComponents; else withPrimeComponents">
	<div [formGroup]="bankCredentialsGroup" class="Signup__control">
		<mat-form-field hideRequiredMarker="true">
			<mat-select
					(selectionChange)="
          setBankControlsFor($event.value ? $event.value.value : null)
        "
					[placeholder]="'expressions.bankName' | translate"
					disableOptionCentering
					formControlName="bank"
					id="bank"
					name="bank"
					panelClass="mat-select-panel-at-bottom"
			>
				<mat-select-trigger>
					<div
							*ngIf="bankCredentialsGroup.get('bank').value as bank"
							class="text-ellipsis"
							style="
              position: relative;
              display: flex;
              display: -ms-flexbox;
              align-items: center;
            "
					>
						<img
								[src]="(bank.value ? bank.value : '') | toIconSrc: 'bank'"
						/>&nbsp;{{ bank.label }}
					</div>
				</mat-select-trigger>
				<mat-option *ngFor="let bank of banks" [value]="bank">
					<div
							class="text-ellipsis"
							style="
              position: relative;
              display: flex;
              display: -ms-flexbox;
              align-items: center;
            "
					>
						<img
								[src]="(bank.value ? bank.value : '') | toIconSrc: 'bank'"
						/>&nbsp;{{ bank.label }}
					</div>
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div
			*ngFor="let fc of foreignControls"
			[formGroup]="bankCredentialsGroup"
			class="Signup__control"
	>
		<mat-form-field hideRequiredMarker="true">
			<mat-label>{{ fc.label }}</mat-label>
			<input
					[autocomplete]="
          fc.controlType === 'password' && passwordHide
            ? 'new-password'
            : 'nope'
        "
					[formControlName]="fc.key"
					[id]="fc.key"
					[name]="fc.key"
					[type]="
          fc.controlType !== 'password'
            ? fc.controlType
            : !passwordHide
            ? 'text'
            : fc.controlType
        "
					matInput
			/>
			<mat-icon
					(click)="passwordHide = !passwordHide"
					*ngIf="fc.controlType === 'password'"
					[svgIcon]="
          'bizibox_' + (passwordHide ? 'visibility_off' : 'visibility')
        "
					matSuffix
			></mat-icon>
			<mat-error
					*ngIf="
          bankCredentialsGroup.get(fc.key).invalid &&
          bankCredentialsGroup.get(fc.key)['dirty']
        "
			>
				<ng-container *ngFor="let rule of fc.rules">
					<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
				</ng-container>
			</mat-error>
		</mat-form-field>
	</div>

	<div *ngIf="selectedSettings && selectedSettings['otp']" class="Form__foreignOtpTypes">
		<div
				*ngIf="
        bankCredentialsGroup.get('bank').value.value === '157' ||
        bankCredentialsGroup.get('bank').value.value === '158'
      "
				[formGroup]="bankCredentialsGroup"
				class="mat-typography"
		>
			<div class="selected-desc">{{ selectedSettings.description }}</div>
			<div
					*ngFor="let otpType of selectedSettings.otpTypes; first as isFirst"
					[style.background]="
          bankCredentialsGroup.get('otpType').value === otpType.value
            ? '#f7f7f7'
            : 'transparent'
        "
					class="otp-credential-option"
			>
				<p-radioButton
						[label]="otpType.label"
						[style]="{ 'font-weight': 'bold' }"
						[value]="otpType.value"
						formControlName="otpType"
						name="otpType"
				></p-radioButton>
				<span *ngIf="isFirst" class="tag success">מומלץ!</span>
				<i
						[escape]="false"
						[pTooltip]="otpType.info"
						[tooltipPosition]="'top'"
						[tooltipStyleClass]="translate.currentLang === 'HEB' ? 'isRTL' : null"
						class="fas fa-info-circle"
				></i>
				<div
						*ngIf="bankCredentialsGroup.get('otpType').value === otpType.value"
						class="Signup__control"
						style="padding: 0 2em"
				>
					<p>{{ otpType.description }}</p>

					<mat-form-field hideRequiredMarker="true"
							*ngIf="
              otpType.value === 'constant' || otpType.value === 'application'
            "
					>
						<input
								[formControlName]="otpCodeQuestionStub.key"
								autocomplete="off"
								matInput
								type="text"
						/>
						<mat-error
								*ngIf="
                bankCredentialsGroup.get(otpCodeQuestionStub.key).invalid &&
                bankCredentialsGroup.get(otpCodeQuestionStub.key)
              "
						>
							<ng-container *ngFor="let rule of otpCodeQuestionStub.rules">
								<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
							</ng-container>
						</mat-error>
					</mat-form-field>

					<!--<div *ngIf="otpType.value === 'constant' || otpType.value === 'application'"-->
					<!--[ngClass]="{'Form__group': true, 'Form__group&#45;&#45;err': (!bankCredentialsGroup.get(otpCodeQuestionStub.key).valid && bankCredentialsGroup.get(otpCodeQuestionStub.key).dirty)}">-->
					<!--<input type="text" [formControlName]="otpCodeQuestionStub.key">-->
					<!--<div class="Form__feedback Form__feedback&#45;&#45;warning Form__feedback&#45;&#45;warning&#45;&#45;block"-->
					<!--[style.visibility]="(bankCredentialsGroup.get(otpCodeQuestionStub.key).invalid && bankCredentialsGroup.get(otpCodeQuestionStub.key).dirty) ? 'visible' : 'hidden'"-->
					<!--*ngFor="let rule of otpCodeQuestionStub.rules">-->
					<!--<i class="fa fa-fw fa-exclamation-triangle"></i> {{rule}}-->
					<!--</div>-->
					<!--</div>-->

					<div *ngIf="otpType.value === 'message'">
						<button
								(click)="onOtpInitClick(otpType)"
								*ngIf="!otpInProgress"
								[disabled]="bankCredentialsGroup.invalid"
								color="primary"
								mat-raised-button
								style="padding: 0 1em"
								type="button"
						>
							{{ 'שלח' }}
						</button>

						<form
								(ngSubmit)="onOtpCodeSubmit()"
								*ngIf="otpInProgress"
								[formGroup]="bankCodeUpdateGroup"
								novalidate>
							<div [ngClass]="{
							 'Form__group': true,
							'Form__group--err': bankCodeUpdateGroup.get(otpCodeQuestionStub.key).invalid && bankCodeUpdateGroup.get(otpCodeQuestionStub.key).dirty}"
							>
								<div style="display: flex; display: -ms-flexbox">
									<input
											[formControlName]="otpCodeQuestionStub.key"
											[formGroup]="bankCodeUpdateGroup"
											type="text"
									/>
									&nbsp;
									<button
											[disabled]="bankCodeUpdateGroup.invalid"
											color="primary"
											mat-raised-button
											style="padding: 0 1em"
											type="submit"
									>
										{{ 'שלח' }}
									</button>
								</div>
								<div
										*ngFor="let rule of otpCodeQuestionStub.rules"
										[style.visibility]="
                    bankCodeUpdateGroup.get(otpCodeQuestionStub.key).invalid &&
                    bankCodeUpdateGroup.get(otpCodeQuestionStub.key).dirty
                      ? 'visible'
                      : 'hidden'
                  "
										class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
								>
									<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div
				*ngIf="bankCredentialsGroup.get('bank').value.value === '122'"
				class="mat-typography"
		>
			<p [innerHTML]="selectedSettings.message"></p>
		</div>
	</div>
</ng-container>

<ng-template #withPrimeComponents>
	<div [formGroup]="bankCredentialsGroup" class="Signup__control">
		<label>{{ 'expressions.bankName' | translate }}</label>
		<div class="Form__group">
			<p-dropdown
					(onChange)="setBankControlsFor($event.value)"
					[options]="banks"
					[placeholder]="('expressions.select' | translate) + '...'"
					[style]="{ width: '268px' }"
					formControlName="bank"
					name="bank"

			>
				<ng-template let-item pTemplate="selectedItem">
					<div
							class="text-ellipsis"
							style="
              position: relative;
              display: flex;
              display: -ms-flexbox;
              align-items: center;
            "
					>
						<img
								[src]="!item.value ? '' : (item.value | toIconSrc: 'bank')"
								style="height: auto; width: 24px !important; position: relative;"
						/>&nbsp;{{ item.label }}
					</div>
				</ng-template>
				<ng-template let-bank pTemplate="item">
					<div
							class="text-ellipsis"
							style="
              position: relative;
              display: flex;
              display: -ms-flexbox;
              align-items: center;
            "
					>
						<img
								[src]="
                bank.value === '-1' ? '' : (bank.value | toIconSrc: 'bank')
              "
								style="height: auto; width: 24px !important; position: relative;"
						/>&nbsp;{{ bank.label }}
					</div>
				</ng-template>
			</p-dropdown>
		</div>
	</div>
	<div
			*ngFor="let fc of foreignControls"
			[formGroup]="bankCredentialsGroup"
			class="Signup__control"
	>
		<label [for]="fc.key" [innerHTML]="fc.label"></label>
		<div
				[ngClass]="{
        Form__group: true,
        'Form__group--err':
          !bankCredentialsGroup.get(fc.key).valid &&
          bankCredentialsGroup.get(fc.key)['dirty'],
        'Form__group--icon': fc.controlType === 'password'
      }"
		>
			<img
					(click)="passwordHide = !passwordHide"
					*ngIf="fc.controlType === 'password'"
					[src]="
          '/assets/images/' +
          (passwordHide ? 'visibility_off' : 'visibility') +
          '.svg'
        "
			/>
			<!--<i (click)="passwordHide = !passwordHide" *ngIf="fc.controlType === 'password'"-->
			<!--[ngClass]="{'fa': true, 'fa-eye': passwordHide, 'fa-eye-slash': !passwordHide}"></i>-->
			<input
					[autocomplete]="
          fc.controlType === 'password' && passwordHide ? 'new-password' : 'off'
        "
					[formControlName]="fc.key"
					[id]="fc.key"
					[name]="fc.key"
					[type]="
          fc.controlType !== 'password'
            ? fc.controlType
            : !passwordHide
            ? 'text'
            : fc.controlType
        "
			/>
		</div>
		<ng-container *ngFor="let rule of fc.rules">
			<div
					*ngIf="
          bankCredentialsGroup.get(fc.key).invalid &&
          bankCredentialsGroup.get(fc.key).dirty
        "
					class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
			>
				<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
			</div>
		</ng-container>
	</div>
	<div
			*ngIf="is_station && bankCredentialsGroup.get('bank').value === '122'"
			class="Signup__control"
	>
		<label> איך תרצו לקבל את הקוד מהבנק? </label>
		<div [ngClass]="{ Form__group: true }">
			<div class="voiceMessage" style="padding: 0px">
				<p-radioButton
						[(ngModel)]="voiceMessage"
						[label]="'SMS'"
						[value]="false"
						inputId="radio1221"
						name="radioGroupInterested"
				>
				</p-radioButton>
				<span style="padding: 0px 8px"></span>
				<p-radioButton
						[(ngModel)]="voiceMessage"
						[label]="'הודעה קולית'"
						[value]="true"
						inputId="radio1222"
						name="radioGroupInterested"
				>
				</p-radioButton>
			</div>
		</div>
	</div>

	<div *ngIf="selectedSettings?.otp" class="Form__foreignOtpTypes">
		<div
				*ngIf="
        bankCredentialsGroup.get('bank').value === '157' ||
        bankCredentialsGroup.get('bank').value === '158'
      "
				[formGroup]="bankCredentialsGroup"
				class="mat-typography"
		>
			<div class="selected-desc">{{ selectedSettings.description }}</div>
			<div
					*ngFor="let otpType of selectedSettings.otpTypes; first as isFirst"
					[style.background]="
          bankCredentialsGroup.get('otpType').value === otpType.value
            ? '#f7f7f7'
            : 'transparent'
        "
					class="otp-credential-option"
			>
				<p-radioButton
						[label]="otpType.label"
						[style]="{ 'font-weight': 'bold' }"
						[value]="otpType.value"
						formControlName="otpType"
						name="otpType"
				></p-radioButton>
				<span *ngIf="isFirst" class="tag success">מומלץ!</span>
				<i
						[escape]="false"
						[pTooltip]="otpType.info"
						[tooltipPosition]="'top'"
						app
						class="fas fa-info-circle"
				></i>
				<div
						*ngIf="bankCredentialsGroup.get('otpType').value === otpType.value"
						class="Signup__control"
						style="padding: 0 2em"
				>
					<p>{{ otpType.description }}</p>

					<div
							*ngIf="
              otpType.value === 'constant' || otpType.value === 'application'
            "
							[ngClass]="{
              Form__group: true,
              'Form__group--err':
                !bankCredentialsGroup.get(otpCodeQuestionStub.key).valid &&
                bankCredentialsGroup.get(otpCodeQuestionStub.key).dirty
            }"
					>
						<input [formControlName]="otpCodeQuestionStub.key" type="text"/>
						<div
								*ngFor="let rule of otpCodeQuestionStub.rules"
								[style.visibility]="
                bankCredentialsGroup.get(otpCodeQuestionStub.key).invalid &&
                bankCredentialsGroup.get(otpCodeQuestionStub.key).dirty
                  ? 'visible'
                  : 'hidden'
              "
								class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
						>
							<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
						</div>
					</div>

					<div *ngIf="otpType.value === 'message'">
						<button
								(click)="onOtpInitClick(otpType)"
								*ngIf="!otpInProgress"
								[disabled]="bankCredentialsGroup.invalid"
								color="primary"
								mat-raised-button
								style="padding: 0 1em"
								type="button"
						>
							{{ 'שלח' }}
						</button>

						<form
								(ngSubmit)="onOtpCodeSubmit()"
								*ngIf="otpInProgress"
								[formGroup]="bankCodeUpdateGroup"
								novalidate
						>
							<div
									[ngClass]="{
                  Form__group: true,
                  'Form__group--err':
                    bankCodeUpdateGroup.get(otpCodeQuestionStub.key).invalid &&
                    bankCodeUpdateGroup.get(otpCodeQuestionStub.key).dirty
                }"
							>
								<div style="display: flex; display: -ms-flexbox">
									<input
											(ngSubmit)="onOtpCodeSubmit()"
											[formControlName]="otpCodeQuestionStub.key"
											[formGroup]="bankCodeUpdateGroup"
											type="text"
									/>
									&nbsp;
									<button
											[disabled]="bankCodeUpdateGroup.invalid"
											color="primary"
											mat-raised-button
											style="padding: 0 1em"
											type="submit"
									>
										{{ 'שלח' }}
									</button>
								</div>
								<div
										*ngFor="let rule of otpCodeQuestionStub.rules"
										[style.visibility]="
                    bankCodeUpdateGroup.get(otpCodeQuestionStub.key).invalid &&
                    bankCodeUpdateGroup.get(otpCodeQuestionStub.key).dirty
                      ? 'visible'
                      : 'hidden'
                  "
										class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
								>
									<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div
				*ngIf="bankCredentialsGroup.get('bank').value === '122'"
				class="mat-typography"
		>
			<p [innerHTML]="selectedSettings.message"></p>
		</div>
	</div>
</ng-template>
