<div
    #container
    (click)="onMouseclick($event)"
    [class]="styleClass"
    [ngClass]="{ 'p-dropdown p-component': true, 'p-disabled': disabled, 'p-dropdown-open': overlayVisible, 'p-focus': focused, 'p-dropdown-clearable': showClear && !disabled }"
    [ngStyle]="style"
>
    <div class="p-hidden-accessible">
        <input
            #in
            (blur)="onInputBlur($event)"
            (focus)="onInputFocus($event)"
            (keydown)="onKeydown($event, true)"
            [attr.aria-activedescendant]="overlayVisible ? labelId : null"
            [attr.aria-expanded]="false"
            [attr.aria-label]="ariaLabel"
            [attr.aria-labelledby]="ariaLabelledBy"
            [attr.id]="inputId"
            [attr.placeholder]="placeholder"
            [attr.tabindex]="tabindex"
            [autofocus]="autofocus"
            [disabled]="disabled"
            aria-haspopup="listbox"
            pAutoFocus
            readonly
            role="combobox"
            type="text"
        />
    </div>
    <span
            *ngIf="!editable && label != null"
            [attr.id]="labelId"
            [ngClass]="{ 'p-dropdown-label p-inputtext': true, 'p-dropdown-label-empty': label == null || label.length === 0 }"
            [pTooltip]="tooltip"
            [positionStyle]="tooltipPositionStyle"
            [tooltipPosition]="tooltipPosition"
            [tooltipStyleClass]="tooltipStyleClass"
    >
                <ng-container *ngIf="!selectedItemTemplate">{{ label || 'empty' }}</ng-container>
                <ng-container
                        *ngTemplateOutlet="selectedItemTemplate; context: { $implicit: selectedOption }"></ng-container>
            </span>
    <span *ngIf="!editable && label == null"
          [innerHTML]="highlight ? highlight : (placeholder || 'empty')"
          #spanElement
          [tooltipDisabled]="(spanElement.offsetWidth >= spanElement.scrollWidth) || (!placeholder)"
          [pTooltip]="placeholder"
          tooltipPosition="top"
          [ngClass]="{ 'p-dropdown-label p-inputtext p-placeholder': true, 'p-dropdown-label-empty': placeholder == null || placeholder.length === 0 }"></span>
    <input
        #editableInput
        (blur)="onInputBlur($event)"
        (focus)="onEditableInputFocus($event)"
        (input)="onEditableInputChange($event)"
        *ngIf="editable"
        [attr.aria-expanded]="overlayVisible"
        [attr.maxlength]="maxlength"
        [attr.placeholder]="placeholder"
        [disabled]="disabled"
        aria-haspopup="listbox"
        class="p-dropdown-label p-inputtext"
        type="text"
    />
    <i (click)="clear($event)" *ngIf="isVisibleClearIcon" class="p-dropdown-clear-icon pi pi-times"></i>
    <div [attr.aria-expanded]="overlayVisible" aria-haspopup="listbox" aria-label="dropdown trigger" class="p-dropdown-trigger"
         role="button">
        <span [ngClass]="dropdownIcon" class="p-dropdown-trigger-icon"></span>
    </div>
    <p-overlay
        #overlay
        (onAnimationStart)="onOverlayAnimationStart($event)"
        (onHide)="hide()"
        [(visible)]="overlayVisible"
        [appendTo]="appendTo"
        [autoZIndex]="autoZIndex"
        [baseZIndex]="baseZIndex"
        [hideTransitionOptions]="hideTransitionOptions"
        [options]="overlayOptions"
        [showTransitionOptions]="showTransitionOptions"
        [target]="'@parent'"
    >
        <ng-template pTemplate="content">
            <div [class]="panelStyleClass" [ngClass]="'p-dropdown-panel p-component'" [ngStyle]="panelStyle">
                <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
                <div (click)="$event.stopPropagation()" *ngIf="filter" class="p-dropdown-header">
                    <ng-container *ngIf="filterTemplate; else builtInFilterElement">
                        <ng-container
                                *ngTemplateOutlet="filterTemplate; context: { options: filterOptions }"></ng-container>
                    </ng-container>
                    <ng-template #builtInFilterElement>
                        <div class="p-dropdown-filter-container">
                            <input
                                #filter
                                (input)="onFilterInputChange($event)"
                                (keydown)="onKeydown($event, false)"
                                (keydown.enter)="$event.preventDefault()"
                                [attr.aria-activedescendant]="overlayVisible ? 'p-highlighted-option' : labelId"
                                [attr.aria-label]="ariaFilterLabel"
                                [attr.placeholder]="filterPlaceholder"
                                [value]="filterValue || ''"
                                autocomplete="off"
                                class="p-dropdown-filter p-inputtext p-component"
                                type="text"
                            />
                            <span class="p-dropdown-filter-icon pi pi-search"></span>
                        </div>
                    </ng-template>
                </div>
                <div [style.max-height]="virtualScroll ? 'auto' : scrollHeight || 'auto'"
                     class="p-dropdown-items-wrapper">
                    <ng-container *ngIf="virtualScroll">
                        <ng-container *ngIf="optionsToDisplay.length">
                            <ng-scrollbar
                                    [ngStyle]="{'height': ((optionsToDisplay.length * virtualScrollItemSize) > scrollHeightAuto) ? scrollHeight : (optionsToDisplay.length ? ((optionsToDisplay.length * virtualScrollItemSize) + 'px') :  'auto')}"
                                    #scrollbar
                                    (updated)="onScroll(scrollbar, virtualScroll)"
                                    class="custom-scrollbar"
                                    thumbClass="scrollbar-thumb"
                                    trackClass="scrollbar">
                                <cdk-virtual-scroll-viewport #virtualScroll
                                                             [itemSize]="virtualScrollItemSize"
                                                             scrollViewport>
                                    <ul #items [attr.id]="listId" class="p-dropdown-items" role="listbox">
                                        <ng-container
                                                *cdkVirtualFor="let option of optionsToDisplay; let i = index; trackBy: trackById">
                                            <!--                                        <ng-container *ngIf="group">-->
                                            <!--                                            <ng-template ngFor let-optgroup [ngForOf]="items">-->
                                            <!--                                                <li class="p-dropdown-item-group" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }">-->
                                            <!--                                                    <span *ngIf="!groupTemplate">{{ getOptionGroupLabel(optgroup) || 'empty' }}</span>-->
                                            <!--                                                    <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: optgroup }"></ng-container>-->
                                            <!--                                                </li>-->
                                            <!--                                                <ng-container *ngTemplateOutlet="itemslist; context: { $implicit: getOptionGroupChildren(optgroup), selectedOption: selectedOption }"></ng-container>-->
                                            <!--                                            </ng-template>-->
                                            <!--                                        </ng-container>-->
                                            <ng-container *ngIf="!group">
                                                <p-dropdownItem
                                                        (onClick)="onItemClick($event)"
                                                        [disabled]="isOptionDisabled(option)"
                                                        [itemSize]="virtualScrollItemSize"
                                                        [label]="getOptionLabel(option)"
                                                        [option]="option"
                                                        [selected]="selectedOption == option"
                                                        [template]="itemTemplate"
                                                ></p-dropdownItem>
                                            </ng-container>
                                        </ng-container>
                                    </ul>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                            <ng-container *ngIf="addManually">
                                <div (click)="addCardManuallyFunc.emit(true)"
                                        style="
    height: 30px;
    display: flex;
    align-items: center;
    border-top: 1px solid #cacaca;
    cursor: pointer;
    padding: 0px 9px;
">
                                    <span style="text-decoration: underline; color: #038ed6;">
                                          לעדכון ידני לחצו פה
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!optionsToDisplay.length">
                            <ul #items [attr.id]="listId" class="p-dropdown-items" role="listbox">
                                <li *ngIf="filterValue && isEmpty()" [ngStyle]="{ height: 'auto' }"
                                    class="p-dropdown-empty-message">
                                    <ng-container
                                            *ngIf="!emptyFilterTemplate && !emptyTemplate; else emptyFilter">
                                        {{ emptyFilterMessageLabel }}
                                    </ng-container>
                                    <ng-template #emptyFilter>
                                        <ng-container
                                                *ngTemplateOutlet="emptyFilterTemplate || emptyTemplate"></ng-container>
                                    </ng-template>
                                </li>
                                <li *ngIf="!filterValue && isEmpty()" [ngStyle]="{ height: 'auto' }"
                                    class="p-dropdown-empty-message">
                                    <ng-container *ngIf="!emptyTemplate; else empty">
                                        {{ emptyMessageLabel }}
                                    </ng-container>
                                    <ng-template #empty>
                                        <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
                                    </ng-template>
                                </li>
                            </ul>

                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!virtualScroll">
                        <ng-container
                                *ngTemplateOutlet="buildInItems; context: { $implicit: optionsToDisplay, options: {} }"></ng-container>
                    </ng-container>
                    <ng-template #buildInItems let-items let-scrollerOptions="options">
                        <ul #items [attr.id]="listId" [ngClass]="scrollerOptions.contentStyleClass"
                            [style]="scrollerOptions.contentStyle" class="p-dropdown-items"
                            role="listbox">
                            <ng-container *ngIf="group">
                                <ng-template [ngForOf]="items" let-optgroup ngFor>
                                    <li [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }"
                                        class="p-dropdown-item-group">
                                        <span *ngIf="!groupTemplate">{{ getOptionGroupLabel(optgroup) || 'empty' }}</span>
                                        <ng-container
                                                *ngTemplateOutlet="groupTemplate; context: { $implicit: optgroup }"></ng-container>
                                    </li>
                                    <ng-container
                                            *ngTemplateOutlet="itemslist; context: { $implicit: getOptionGroupChildren(optgroup), selectedOption: selectedOption }"></ng-container>
                                </ng-template>
                            </ng-container>
                            <ng-container *ngIf="!group">
                                <ng-container
                                        *ngTemplateOutlet="itemslist; context: { $implicit: items, selectedOption: selectedOption }"></ng-container>
                            </ng-container>
                            <ng-template #itemslist let-options let-selectedOption="selectedOption">
                                <ng-template [ngForOf]="options" let-i="index" let-option ngFor>
                                    <p-dropdownItem
                                            (onClick)="onItemClick($event)"
                                            [disabled]="isOptionDisabled(option)"
                                            [label]="getOptionLabel(option)"
                                            [option]="option"
                                            [selected]="selectedOption == option"
                                            [template]="itemTemplate"
                                    ></p-dropdownItem>
                                </ng-template>
                            </ng-template>
                            <li *ngIf="filterValue && isEmpty()" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }"
                                class="p-dropdown-empty-message">
                                <ng-container *ngIf="!emptyFilterTemplate && !emptyTemplate; else emptyFilter">
                                    {{ emptyFilterMessageLabel }}
                                </ng-container>
                                <ng-container #emptyFilter
                                              *ngTemplateOutlet="emptyFilterTemplate || emptyTemplate"></ng-container>
                            </li>
                            <li *ngIf="!filterValue && isEmpty()" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }"
                                class="p-dropdown-empty-message">
                                <ng-container *ngIf="!emptyTemplate; else empty">
                                    {{ emptyMessageLabel }}
                                </ng-container>
                                <ng-container #empty *ngTemplateOutlet="emptyTemplate"></ng-container>
                            </li>
                        </ul>
                    </ng-template>
                </div>
                <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
            </div>
        </ng-template>
    </p-overlay>
</div>
