<div class="token-status-view">
	<ng-container *ngIf="tokenData">
		<ng-container *ngIf="tokenStatusLoad$ | async as tokenStatus">
			<div
					class="outdated-view"
					*ngIf="
          balanceLastUpdatedDate &&
          ([TokenStatus.Valid, TokenStatus.VALIDPOALIMBAASAKIM].includes(
            tokenStatus.tokenStatus | toTokenStatusEnumValue
          ) ||
            tokenService.isTokenStatusProgressing(tokenStatus.tokenStatus) ||
            tokenService.shouldTokenUpdatePassword(tokenStatus.tokenStatus))
        "
			>
				<div><i class="fas fa-fw fa-exclamation-triangle"></i></div>
				<div>
					<div>
						{{ 'sumsTitles.notUpdates' | translate }}
					</div>
					<div>
						{{ 'sumsTitles.lastUpdate' | translate }}
						{{ balanceLastUpdatedDate | todayRelativeHumanize: 'days' }}
					</div>
				</div>
			</div>
			
			<div
					class="outdated-view"
					*ngIf="
          (tokenStatus.tokenStatus | toTokenStatusEnumValue) ===
          TokenStatus.INVALIDPASSORDANDACCESS
        "
			>
				<div><i class="fas fa-fw fa-exclamation-triangle"></i></div>
				<div>
					<div>
						{{
						'foreignCredentials.statusHumanized.INVALIDPASSWORD' | translate
						}}
					</div>
					<div>
						{{ 'אנא פנה למנהל המערכת' }}
					</div>
				</div>
			</div>
			
			<div
					class="outdated-view"
					style="color: #022258"
					*ngIf="
          (tokenStatus.tokenStatus | toTokenStatusEnumValue) ===
          TokenStatus.AGREEMENT_REQUIRED
        "
			>
				<div>
					<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/letter.png"/>
					<!--<i class="fas fa-lg fa-file-alt"></i>-->
				</div>
				<div>
					<div>
						{{
						'foreignCredentials.statusHumanized.AGREEMENT_REQUIRED'
								| translate
						}}
					</div>
					<div>
						<a
								class="button-link"
								[href]="
                'foreignCredentials.urls.passwordRecovery.' +
                  tokenStatus.websiteTargetTypeId | translate
              "
								target="_blank"
						>
							{{
							'foreignCredentialsCreate.' +
							('' + tokenStatus.websiteTargetTypeId | asTokenType: 'name') +
							'.blockedAccount.navigateToTarget' | translate
							}}</a
						>
					</div>
				</div>
			</div>
			
			<ng-container [ngSwitch]="tokenStatus.tokenStatus">
				<ng-container
						*ngSwitchCase="
            tokenService.shouldTokenUpdatePassword(tokenStatus.tokenStatus) &&
            !(tokenStatus.hasPrivs === false) &&
            (tokenStatus.tokenStatus | toTokenStatusEnumValue) !==
              TokenStatus.AboutToExpire
              ? tokenStatus.tokenStatus
              : ''
          "
				>
					<button (click)="onUpdateStartClick()">
						{{ 'actions.updateData' | translate }}
					</button>
					<app-bank-update-foreign-credentials-dialog
							*ngIf="updatePromptVisible"
							#credsUpdateDlg
							[(display)]="updatePromptVisible"
							(displayChange)="
              $event === false &&
                onUpdateDialogVisibilityChange(credsUpdateDlg.state)
            "
							[tokenData]="tokenStatus"
							[companyId]="tokenData.companyId"
					>
					</app-bank-update-foreign-credentials-dialog>
				</ng-container>
				
				<!--        <div *ngSwitchCase="tokenService.isTokenStatusProgressing(tokenStatus.tokenStatus) ? tokenStatus.tokenStatus : ''"-->
				<!--              class="progress-view">-->
				<!--          <div class="mat-h4">{{((tokenStatus.tokenStatus|toTokenStatusEnumValue) === TokenStatus.ALMOST_DONE)-->
				<!--              ? 'כבר מסיימים' : 'מושך נתונים'}}...</div>-->
				<!--          <mat-progress-bar-->
				<!--              [mode]="'determinate'"-->
				<!--              [value]="tokenService.tokenStatusToCompletionPercentage(tokenStatus.tokenStatus)"></mat-progress-bar>-->
				<!--          <div class="mat-h4 forceLTR">-->
				<!--            {{tokenService.tokenStatusToCompletionPercentage(tokenStatus.tokenStatus)}}%-->
				<!--          </div>-->
				<!--        </div>-->
				
				<div
						*ngSwitchCase="
            (tokenStatus.tokenStatus | toTokenStatusEnumValue) ===
            TokenStatus.TechnicalProblem
              ? tokenStatus.tokenStatus
              : ''
          "
						class="problem-view"
				>
					<img style="height: auto; width: auto; position: relative;" fill [ngSrc]="tokenStatus.tokenStatus | tokenStatusAsIconSrc"/>
					{{
					'foreignCredentials.statusHumanized.' + tokenStatus.tokenStatus
							| translate
					}}
				</div>
				
				<div
						*ngSwitchCase="
            (tokenStatus.tokenStatus | toTokenStatusEnumValue) ===
            TokenStatus.SUSPENDED
              ? tokenStatus.tokenStatus
              : ''
          "
						class="problem-view"
				>
					<i class="far fa-fw fa-snowflake"></i>
					{{
					'foreignCredentials.statusHumanized.' + tokenStatus.tokenStatus
							| translate
					}}
				</div>
				
				<ng-container *ngSwitchDefault></ng-container>
			</ng-container>
		</ng-container>
	</ng-container>
</div>
