<!-- <ng-container *ngIf="labelText"> -->
<!-- 	<div -->
<!-- 			(click)="ddCategories.show()" -->
<!-- 			[ngClass]="{ income: !labelText.hova, expence: labelText.hova }" -->
<!-- 			class="budgetTypeAdd" -->
<!-- 	> -->
<!-- 		<img -->
<!-- 				style="height: auto; width: auto; position: relative;" fill [ngSrc]=" -->
<!--           labelText.hova -->
<!--             ? '/assets/images/addExpencePlus.png' -->
<!--             : '/assets/images/addIncomePlus.png' -->
<!--         " -->
<!-- 		/> -->
<!-- 		<span>{{ labelText.transTypeName }}</span> -->
<!-- 	</div> -->
<!-- </ng-container> -->


<p-dropdown
		#ddCategories
		(onFocus)="focused.emit($event)"
		#panelTooltip="matTooltip"
		(keyup.esc)="cancelChanges.emit($event)"
		(onChange)="changed.emit($event)"
		(onClick)="panelTooltip.show(0)"
		(onFilter)="filterFunc($event, ddCategories)"
		(onHide)="hide()"
		(onShow)="show()"
		[disabled]="disabled"
		[(ngModel)]="ngModelVal"
		[autoDisplayFirst]="autoDisplayFirst"
		[dataKey]="dataKey"
		[dropdownIcon]="labelText ? 'fas fa-plus-circle' : 'p-dropdown-icon'"
		[filterBy]="'transTypeName'"
		[filter]="filter"
		[inputId]="inputId"
		[matTooltip]="
    !labelText ? ('appWalk.customers.categoriesSelection' | translate) : ''
  "
		[optionLabel]="optionLabel"
		[options]="categories"
		[panelStyleClass]="'category_select_panel'"
		[placeholder]="labelText ? labelText.transTypeName : placeholder"
		[scrollHeight]="'188px'"
		[style]="style"
		appendTo="body"
		matTooltipPosition="after"
		optionDisabled="disabled">
	<ng-template pTemplate="empty">
		<div>
			<div>לא נמצאו קטגוריות</div>
		</div>
	</ng-template>
	<ng-template pTemplate="emptyfilter">
		<div
				#createCategoryInline
				(click)="
            categoryCreateThenSelect(
              filterVal,
              $event
            );
            $event.stopPropagation()
          "
				(keydown.enter)="
            categoryCreateThenSelect(
              filterVal,
              $event
            );
            $event.stopPropagation()
          "
				*ngIf="
            !isExistCategory &&
         filterVal
          "
				[class.p-highlight]="
            createCategoryInline.ownerDocument.activeElement ===
            createCategoryInline
          "
				class="p-dropdown-item"
				style="
            display: flex;
            display: -ms-flexbox;
            flex-direction: column;
            height: auto;
            margin-bottom: 2em !important;
          "
				tabindex="0"
		>
          <span style="line-height: 1.4em">{{
	          filterVal
	          }}</span>
			<span
					style="
              opacity: 0.5;
              white-space: normal;
              text-overflow: unset;
              line-height: 1.4em;
            "
			>{{ '(הוספת קטגוריה חדשה)' }}</span
			>
		</div>
		<div

				*ngIf="
            isExistCategory
          "
				class="p-dropdown-item p-disabled"
				style="
            display: flex;
            display: -ms-flexbox;
            flex-direction: column;
            height: auto;
            margin-bottom: 2em !important;
            cursor: default;
          "
				tabindex="0"
		>
          <span style="line-height: 1.4em">{{
	          filterVal
	          }}</span>
			<span
					style="
              opacity: 0.5;
              white-space: normal;
              text-overflow: unset;
              line-height: 1.4em;
            "
			>{{ '(הקטגוריה קיימת בתקציב)' }}</span
			>
		</div>
	</ng-template>
	<ng-template let-option pTemplate="selectedItem">
		<div>
				     <span
						     #spanElement
						     *ngIf="!labelText"
						     [pTooltip]="option.transTypeName"
						     [tooltipDisabled]="
                  spanElement.offsetWidth >= spanElement.scrollWidth
                "
				     >{{ option.transTypeName || 'empty' }}</span>

			<div *ngIf="labelText"
			     [ngClass]="{ income: !labelText.hova, expence: labelText.hova }"
			     class="budgetTypeAdd"
			>
				<img
						style="height: auto; width: auto; "  [src]="
          labelText.hova
            ? '/assets/images/addExpencePlus.png'
            : '/assets/images/addIncomePlus.png'
        "
				/>
				<span>{{ labelText.transTypeName }}</span>
			</div>
		</div>
	</ng-template>
	<ng-template let-option pTemplate="item">
		<div *ngIf="!option.title">
				     <span
						     #spanElement
						     [pTooltip]="option.transTypeName"
						     [tooltipDisabled]="
                  spanElement.offsetWidth >= spanElement.scrollWidth
                "
						     style="
display: block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 33px;
    text-overflow: ellipsis;
    margin: 0 6px!important;"
				     >{{ option.transTypeName || '' }}</span>
		</div>
		<div *ngIf="option.isHistory && option.title" class="firstHistory">
              <span
		              style="
                  font-weight: 700;
                  display: block;
                    margin: 0 6px!important;
                  white-space: nowrap;
                  overflow: hidden;
                  line-height: 33px;
                  text-overflow: ellipsis;
                "
              >
                בשימוש לאחרונה:
              </span>
		</div>

		<div
				*ngIf="
                  option.isLastHistory
                "
				style="
                  height: 1px;
                  background: #cacaca;
                  padding: 0;
                  position: absolute;
                  bottom: -2px;
                  right: 0;
                  left: 0;
                  z-index: 999;
                "
		></div>
	</ng-template>
	<ng-template pTemplate="footer">
		<button
				(click)="showMore(); $event.stopPropagation()"
				*ngIf="showMoreOption"
				class="p-dropdown-item p-dropdown-btn-footer"
				style="
				height: 33px;font-size: 15px;font-weight: 600;font-family: Assistant!important;line-height: 30px;border-radius: unset!important;margin: 0!important;text-align: right!important;
        width: 100%;
        padding: 0.25em 1em !important;
        margin-top: 4px;
        -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
        filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
        border: 0;cursor: pointer;
      "
				type="button"
		>
			{{ 'actions.more' | translate }}
		</button>
	</ng-template>
</p-dropdown>


<p-dialog (onHide)="
      dlgEditingOption = null;
      dlgSelectedOption = null;
      newTransTypeName.reset()
    "
          (visibleChange)="display = false"
          [modal]="true"
          [visible]="(display)"
          appendTo="body"
>
	<p-header> {{ 'titles.categories' | translate }} </p-header>
	<div class="category-select-body" style="width: 20em">
		<div
				style="
          flex: 1 100%;
          -ms-flex: 1 100%;
          display: flex;
          display: -ms-flexbox;
          flex-flow: row wrap;
          justify-content: space-between;
        "
		>
			<input
					[formControl]="newTransTypeName"
					[placeholder]="'expressions.enterCategoryName' | translate"
					style="flex: 0 0 14em; -ms-flex: 0 0 14em"
					type="text"
			/>
			<button
					(click)="categoryCreate(newTransTypeName.value)"
					[disabled]="newTransTypeName.invalid"
					class="button-dark"
					style="flex: 0 1 4em; -ms-flex: 0 1 4em"
			>
				{{ 'actions.add' | translate }}
			</button>
			<!--<span style="color: red; flex: 1 100%; height: 1em; line-height: 1em;"-->
			<!--[style.visibility]="newTransTypeName.errors?.transTypeNameDuplicate ? 'visible' : 'hidden'">-->
			<!--{{'validation.categoryExists' | translate}}-->
			<!--</span>-->
		</div>
		<ul (mouseout)="dlgMouseOverOption = null" class="scroll-chrome">
			<ng-container
					*ngFor="
            let cat of categoriesView;
            let i = index;
            trackBy: categoryIdTrack
          "
			>
				<!--                    <li [ngClass]="{'p-dropdown-item p-corner-all':true, 'p-highlight':(selectedOption == option), 'p-dropdown-item-empty':!option.label||option.label.length === 0}"-->
				<!--                        (click)="selectItem($event, option)"-->
				<!--                        style="position: relative">-->

				<!--                            <span *ngIf="!itemTemplate" #spanElement [pTooltip]="option.label"-->
				<!--                                  [tooltipDisabled]="spanElement.offsetWidth >= spanElement.scrollWidth">{{option.label || 'empty'}}</span>-->

				<!--                        <div *ngIf="!itemTemplate && option.isHistory && options[i + 1] && !options[i + 1].value.isHistory"-->
				<!--                             style="height: 1px;background: #cacaca;padding: 0;position: absolute;bottom: -1px;right: 0;left: 0;z-index: 999;"></div>-->

				<!--                        <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: option}"></ng-container>-->
				<!--                    </li>-->

				<li *ngIf="i === 0 && cat.isHistory" class="firstHistory">
					<div class="text-ellipsis">
              <span
		              style="
                  font-weight: 700;
                  display: block;
                  white-space: nowrap;
                  overflow: hidden;
                  line-height: 33px;
                  text-overflow: ellipsis;
                "
              >
                בשימוש לאחרונה:
              </span>
					</div>
				</li>
				<li
						#categoryItems
						(click)="dlgSelectedOption = cat"
						(mouseover)="dlgMouseOverOption = cat"
						[class.active]="dlgSelectedOption === cat"
						style="position: relative"
				>
					<div class="text-ellipsis">
              <span *ngIf="dlgEditingOption !== cat">{{
	              cat.transTypeName
	              }}</span>
						<input
								#categoryInputRef
								(keyup.enter)="editTransTypeName.valid && editCommit()"
								(keyup.esc)="editCancel()"
								*ngIf="dlgEditingOption === cat"
								[formControl]="editTransTypeName"
								[placeholder]="'expressions.enterCategoryName' | translate"
								[value]="dlgEditingOption.transTypeName"
								type="text"
						/>
					</div>

					<div
							[style.visibility]="
                (cat.immutable && !cat.isHistory) ||
                (dlgMouseOverOption !== cat && dlgEditingOption !== cat) ||
                cat.companyId === '00000000-0000-0000-0000-000000000000'
                  ? 'hidden'
                  : 'visible'
              "
							class="controls last-child"
					>
						<button (click)="editStart(cat)" *ngIf="dlgEditingOption !== cat">
							<img height="16"  ngSrc="/assets/images/pencil.png" width="16"/>
						</button>
						<button
								(click)="categoryDelete(cat)"
								*ngIf="dlgEditingOption !== cat"
						>
							<img height="16"  ngSrc="/assets/images/trash.png" width="16"/>
						</button>
						<button
								(click)="editCommit()"
								*ngIf="dlgEditingOption === cat"
								[disabled]="editTransTypeName.invalid"
						>
							<i class="fas fa-fw fa-check"></i>
						</button>
						<button
								(click)="editCancel()"
								*ngIf="dlgEditingOption === cat"
								[disabled]="
                  dlgEditingOption.transTypeName === editTransTypeName.value
                "
						>
							<i class="fas fa-fw fa-undo"></i>
						</button>
					</div>

					<div
							*ngIf="
                cat.isHistory &&
                categoriesView[i + 1] &&
                !categoriesView[i + 1].isHistory
              "
							style="
                height: 1px;
                background: #cacaca;
                padding: 0;
                position: absolute;
                bottom: -2px;
                right: 0;
                left: 0;
                z-index: 999;
              "
					></div>
				</li>
			</ng-container>
		</ul>
	</div>
	<p-footer>
		<a
				(click)="display = false"
				class="button-white button-link"
				href="#"
				role="button"
		>
			{{ 'actions.cancel' | translate }}
		</a>
		<button
				(click)="update($event)"
				[disabled]="dlgEditingOption !== null || dlgSelectedOption === null"
				class="button-dark"
		>
			{{ 'actions.update' | translate }}
		</button>
	</p-footer>
</p-dialog>


