<div #header></div>
<div [appScrollHeight]="header.getBoundingClientRect().bottom + 10" class="scrollPage scrollbar-dynamic product-settings">
    <form [formGroup]="info" novalidate style="margin-left: 30px;">
        <div *ngIf="this.userService.appData && this.userService.appData.isAdmin"
             class="infoCompanyForm journalVendorAndCustomerForm">
            <div class="columns">
                <div class="sett-table">
                    <div>
                        <div
                                [matTooltip]="'קליטת קבצים'"
                                matTooltipClass="allow-cr"
                                matTooltipPosition="above"
                                style="cursor: pointer"
                        >
                            קליטת קבצים
                        </div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('folderPlus', true)"
                                        [value]="true"
                                        [label]="'אוטומטי'"
                                        formControlName="folderPlus"
                                        inputId="radio71"
                                        name="folderPlus"
                                        value="true"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('folderPlus', false)"
                                        [value]="false"
                                        [label]="'ידני'"
                                        formControlName="folderPlus"
                                        inputId="radio72"
                                        name="folderPlus"
                                        value="false"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <h2>
                פ. יומן ספקים ולקוחות
            </h2>
        </div>

        <div class="infoCompanyForm journalVendorAndCustomerForm">
            <div class="columns">
                <div class="sett-table">
                    <div>
                        <div
                                [matTooltip]="'כמות ספרות באסמכתא לתוכנת הנה״ח'"
                                matTooltipClass="allow-cr"
                                matTooltipPosition="above"
                                style="cursor: pointer"
                        >
                            מספר ספרות באסמכתא
                        </div>
                        <div>
                            <p-dropdown
                                #dd11
                                (onChange)="updateSettings()"
                                (onFocus)="clearFilter(dd11)"
                                [dropdownIcon]="'p-dropdown-icon'"
                                [options]="izuAsmachtaNumCharArr"
                                [scrollHeight]="'135px'"
                                [style]="{ width: '275px' }"
                                appendTo="body"
                                formControlName="supplierAsmachtaNumChar"
                                name="supplierAsmachtaNumChar"

                                placeholder="בחירה"
                                styleClass="ddInfoCompanyForm"
                            >
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div
                                [matTooltip]="'אסמכתא לרישום פקודת יומן הוצאה'"
                                matTooltipClass="allow-cr"
                                matTooltipPosition="above"
                                style="cursor: pointer"
                        >
                            אסמכתא לרישום הוצאה
                        </div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('expenseAsmachtaType', '1')"
                                        [label]="'אסמכתא 1'"
                                        formControlName="expenseAsmachtaType"
                                        inputId="radio7"
                                        name="expenseAsmachtaType"
                                        value="1"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('expenseAsmachtaType', '2')"
                                        [label]="'אסמכתא 2'"
                                        formControlName="expenseAsmachtaType"
                                        inputId="radio8"
                                        name="expenseAsmachtaType"
                                        value="2"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div
                                [matTooltip]="'אסמכתא לרישום פקודת יומן הכנסה'"
                                matTooltipClass="allow-cr"
                                matTooltipPosition="above"
                                style="cursor: pointer"
                        >
                            אסמכתא לרישום הכנסה
                        </div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('incomeAsmachtaType', '1')"
                                        [label]="'אסמכתא 1'"
                                        formControlName="incomeAsmachtaType"
                                        inputId="radio122"
                                        name="incomeAsmachtaType"
                                        value="1"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('incomeAsmachtaType', '2')"
                                        [label]="'אסמכתא 2'"
                                        formControlName="incomeAsmachtaType"
                                        inputId="radio2331"
                                        name="incomeAsmachtaType"
                                        value="2"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>קליטת חשבוניות</div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('expenseOnly', true)"
                                        [label]="'הוצאות בלבד'"
                                        [value]="true"
                                        formControlName="expenseOnly"
                                        inputId="radioexpenseOnly3"
                                        name="expenseOnly"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('expenseOnly', false)"
                                        [label]="'הוצאות והכנסות'"
                                        [value]="false"
                                        formControlName="expenseOnly"
                                        inputId="radioexpenseOnly4"
                                        name="expenseOnly"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>פקודה לחשבונית מס קבלה</div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('invoicePayment', false)"
                                        [label]="'לא כולל קבלה'"
                                        [value]="false"
                                        formControlName="invoicePayment"
                                        inputId="radio44"
                                        name="invoicePayment"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('invoicePayment', true)"
                                        [label]="'כולל קבלה'"
                                        [value]="true"
                                        formControlName="invoicePayment"
                                        inputId="radio33"
                                        name="invoicePayment"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>פקודות יומן לחשבונית זיכוי</div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('invertedCreditInvoice', true)"
                                        [label]="'הפוכה'"
                                        [value]="true"
                                        formControlName="invertedCreditInvoice"
                                        inputId="radio44443"
                                        name="invertedCreditInvoice"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('invertedCreditInvoice', false)"
                                        [label]="'במינוס'"
                                        [value]="false"
                                        formControlName="invertedCreditInvoice"
                                        inputId="radio33334"
                                        name="invertedCreditInvoice"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="sett-table">-->
<!--                    <div>-->
<!--                        <div-->
<!--                                [matTooltip]="-->
<!--                'קובץ לקליטה בהנה״ח, לפי תקופות הדיווח למע״מ או מצטבר שנתי'-->
<!--              "-->
<!--                                matTooltipClass="allow-cr"-->
<!--                                matTooltipPosition="above"-->
<!--                                style="cursor: pointer"-->
<!--                        >-->
<!--                            יצירת קובץ פ.יומן ספקים ולקוחות-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <div style="padding: 0px 10px;height: 30px;display: flex;" class="lineHSmall">-->
<!--                                <p-radioButton-->
<!--                                        (onClick)="-->
<!--                    updateValues(-->
<!--                      'exportFileVatPeriod',-->
<!--              'MONTH'-->
<!--                    )-->
<!--                  "-->
<!--                                        [label]="-->
<!--'חודשי (קובץ לכל חודש)'-->
<!--                  "-->
<!--                                        [value]="'MONTH'"-->
<!--                                        formControlName="exportFileVatPeriod"-->
<!--                                        inputId="radio123"-->
<!--                                        name="exportFileVatPeriod"-->
<!--                                >-->
<!--                                </p-radioButton>-->
<!--                                <span style="padding: 0px 8px"></span>-->
<!--                                <p-radioButton-->
<!--                                        (onClick)="-->
<!--                    updateValues(-->
<!--                      'exportFileVatPeriod',-->
<!--               'TWO_MONTH'-->
<!--                    )-->
<!--                  "-->
<!--                                        [label]="-->
<!--   'דו חודשי (קובץ לכל חודשיים)'-->
<!--                  "-->
<!--                                        [value]="'TWO_MONTH'"-->
<!--                                        formControlName="exportFileVatPeriod"-->
<!--                                        inputId="radio123"-->
<!--                                        name="exportFileVatPeriod"-->
<!--                                >-->
<!--                                </p-radioButton>-->
<!--                                <span style="padding: 0px 8px"></span>-->
<!--                                <p-radioButton-->
<!--                                        (onClick)="updateValues('exportFileVatPeriod', (isYear ? 'YEAR' : 'NONE'))"-->
<!--                                        *ngIf="!isYear"-->
<!--                                        [label]="-->
<!--								isYear ? 'שנתי (קובץ לכל שנה)'-->
<!--								:-->
<!--								'מצטבר (קובץ אחד)'"-->
<!--                                        [value]="'NONE'"-->
<!--                                        formControlName="exportFileVatPeriod"-->
<!--                                        inputId="radio245"-->
<!--                                        name="exportFileVatPeriod"-->
<!--                                >-->
<!--                                </p-radioButton>-->
<!--                                <p-radioButton-->
<!--                                        (onClick)="updateValues('exportFileVatPeriod', (isYear ? 'YEAR' : 'NONE'))"-->
<!--                                        *ngIf="isYear"-->
<!--                                        [label]="-->
<!--'שנתי (קובץ לכל שנה)'-->
<!--"-->
<!--                                        [value]="'YEAR'"-->
<!--                                        formControlName="exportFileVatPeriod"-->
<!--                                        inputId="radio245"-->
<!--                                        name="exportFileVatPeriod"-->
<!--                                >-->
<!--                                </p-radioButton>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="columns">
                <div class="sett-table">
                    <div>
                        <div>בהעלאת קבצים ממייל</div>
                        <div>
                            <div
                                    class="supplierDocOrderType_row"
                                    style="
                  padding: 0px 10px;
                  height: 30px;
                  align-items: flex-start;
                  align-content: center;
                  justify-content: flex-start;
                  display: flex;
                  padding-left: 0;
                "
                            >
                                <p-radioButton
                                        (onClick)="updateValues('unitedMailFiles', '0')"
                                        [label]="'פצל'"
                                        [value]="'0'"
                                        formControlName="unitedMailFiles"
                                        inputId="radio_unitedMailFiles1"
                                        name="unitedMailFiles"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('unitedMailFiles', '1')"
                                        [label]="'שמור על העלאה מקורית'"
                                        [value]="'1'"
                                        formControlName="unitedMailFiles"
                                        inputId="radio_unitedMailFiles2"
                                        name="unitedMailFiles"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div
                                [matTooltip]="'בהתאם למוגדר בתוכנת הנה״ח'"
                                matTooltipClass="allow-cr"
                                matTooltipPosition="above"
                                style="cursor: pointer"
                        >
                            תכולת תאריך נוסף (3) בפקודה
                        </div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('thirdDate', '0')"
                                        [label]="'חודש דיווח מע״מ'"
                                        formControlName="thirdDate"
                                        inputId="radio72"
                                        name="thirdDate"
                                        value="0"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('thirdDate', '1')"
                                        [label]="'תאריך מסמך'"
                                        formControlName="thirdDate"
                                        inputId="radio82"
                                        name="thirdDate"
                                        value="1"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>מיון תנועות המסמכים בקובץ הנה”ח</div>
                        <div>
                            <div
                                    class="supplierDocOrderType_row"
                                    style="
                  padding: 0px 10px;
                  height: 30px;
                  align-items: flex-start;
                  align-content: center;
                  justify-content: flex-start;
                  display: flex;
                  padding-left: 0;
                "
                            >
                                <p-radioButton
                                        (onClick)="updateValues('supplierDocOrderType', '1')"
                                        [label]="'סדר העלאה'"
                                        [value]="'1'"
                                        formControlName="supplierDocOrderType"
                                        inputId="radio_supplierDocOrderType1"
                                        name="supplierDocOrderType"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('supplierDocOrderType', '2')"
                                        [label]="'סדר אישור'"
                                        [value]="'2'"
                                        formControlName="supplierDocOrderType"
                                        inputId="radio_supplierDocOrderType2"
                                        name="supplierDocOrderType"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <div style="position: relative">
                                    <p-radioButton
                                            (onClick)="updateValues('supplierDocOrderType', '3')"
                                            [label]="'הכנסות ואז הוצאות'"
                                            [value]="'3'"
                                            formControlName="supplierDocOrderType"
                                            inputId="radio_supplierDocOrderType3"
                                            name="supplierDocOrderType"
                                    >
                                    </p-radioButton>

                                    <div
                                            (click)="
                      info.get('supplierDocOrderType').value !== '3'
                        ? null
                        : (showSupplierDocOrderTypeEdit = true)
                    "
                                            [class.disabled]="
                      info.get('supplierDocOrderType').value !== '3'
                    "
                                            class="edit_supplierDocOrderType"
                                    >
                                        עריכה
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title">
        <h2>
                ייצוא
            </h2>
        </div>
        <div class="infoCompanyForm">
            <div class="columns" style="flex-wrap: wrap">
                <div class="sett-table">
                    <div>
                        <div
                                [matTooltip]="'כמות ספרות באסמכתא לתוכנת הנה״ח'"
                                matTooltipClass="allow-cr"
                                matTooltipPosition="above"
                                style="cursor: pointer"
                        >
                            מספר ספרות באסמכתא
                        </div>
                        <div>
                            <p-dropdown
                                #dd11
                                (onChange)="updateSettings()"
                                (onFocus)="clearFilter(dd11)"
                                [dropdownIcon]="'p-dropdown-icon'"
                                [options]="izuAsmachtaNumCharArr"
                                [scrollHeight]="'135px'"
                                [style]="{ width: '275px' }"
                                appendTo="body"
                                formControlName="izuAsmachtaNumChar"
                                name="izuAsmachtaNumChar"

                                placeholder="בחירה"
                                styleClass="ddInfoCompanyForm"
                            >
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>תאריך הערך ביצוא כרטיסי אשראי</div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('izuCreditValueDate', 'TRANS_DATE')"
                                        [label]="'תאריך העסקה'"
                                        formControlName="izuCreditValueDate"
                                        inputId="radio11"
                                        name="izuCreditValueDate"
                                        value="TRANS_DATE"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('izuCreditValueDate', 'CYCLE_DATE')"
                                        [label]="'מחזור חיוב'"
                                        formControlName="izuCreditValueDate"
                                        inputId="radio22"
                                        name="izuCreditValueDate"
                                        value="CYCLE_DATE"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>שיטת יצוא כרטיסי אשראי</div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('indPkudotYoman', '0')"
                                        [label]="'דף בנק'"
                                        formControlName="indPkudotYoman"
                                        inputId="radio11"
                                        name="indPkudotYoman"
                                        value="0"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('indPkudotYoman', '1')"
                                        [label]="'פקודות יומן'"
                                        formControlName="indPkudotYoman"
                                        inputId="radio22"
                                        name="indPkudotYoman"
                                        value="1"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>תכולת קובץ יצוא</div>

                        <div>
                            <div style="padding: 0px 10px;height: 30px;display: flex;" class="lineHSmall">
                                <p-radioButton
                                        (onClick)="updateValues('izuFileExportType', '1')"
                                        [label]="'בנק ואשראי ביחד'"
                                        formControlName="izuFileExportType"
                                        inputId="radio1221"
                                        name="izuFileExportType"
                                        value="1"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('izuFileExportType', '2')"
                                        [label]="'בנק ואשראי כל אחד בנפרד'"
                                        formControlName="izuFileExportType"
                                        inputId="radio2132"
                                        name="izuFileExportType"
                                        value="2"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title">

            <h2>
                פ. יומן בנק ואשראי
            </h2>
        </div>

        <div class="infoCompanyForm journalVendorAndCustomerForm">
            <div class="columns">
<!--                <div class="sett-table">-->
<!--                    <div>-->
<!--                        <div-->
<!--                                [matTooltip]="'כמות ספרות באסמכתא לתוכנת הנה״ח'"-->
<!--                                matTooltipClass="allow-cr"-->
<!--                                matTooltipPosition="above"-->
<!--                                style="cursor: pointer"-->
<!--                        >-->
<!--                            מספר ספרות באסמכתא לפ. יומן בנק-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p-dropdown-->
<!--                                #dd11-->
<!--                                (onChange)="updateSettings()"-->
<!--                                (onFocus)="clearFilter(dd11)"-->
<!--                                [dropdownIcon]="'p-dropdown-icon'"-->
<!--                                [options]="izuAsmachtaNumCharArr"-->
<!--                                [scrollHeight]="'135px'"-->
<!--                                [style]="{ width: '275px' }"-->
<!--                                appendTo="body"-->
<!--                                formControlName="bankAsmachtaNumChar"-->
<!--                                name="bankAsmachtaNumChar"-->

<!--                                placeholder="בחירה"-->
<!--                                styleClass="ddInfoCompanyForm"-->
<!--                            >-->
<!--                            </p-dropdown>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="sett-table">
                    <div>
                        <div>תכולת קובץ פ. יומן בנק ואשראי</div>
                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValuesExportFileTypeId(1)"
                                        [label]="'בנק ואשראי ביחד'"
                                        [value]="'1'"
                                        formControlName="exportFileTypeId"
                                        inputId="radio3"
                                        name="exportFileTypeId"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValuesExportFileTypeId(2)"
                                        [label]="'בנק ואשראי כל אחד בנפרד'"
                                        [value]="'2'"
                                        formControlName="exportFileTypeId"
                                        inputId="radio4"
                                        name="exportFileTypeId"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sett-table">
                    <div>
                        <div>תקופת קובץ פ. יומן בנק ואשראי</div>

                        <div>
                            <div style="padding: 0px 10px; height: 30px">
                                <p-radioButton
                                        (onClick)="updateValues('exportFileBankPeriod', 1)"
                                        [label]="'מצטבר (קובץ אחד)'"
                                        [value]="'1'"
                                        formControlName="exportFileBankPeriod"
                                        inputId="radio5"
                                        name="exportFileBankPeriod"
                                >
                                </p-radioButton>
                                <span style="padding: 0px 8px"></span>
                                <p-radioButton
                                        (onClick)="updateValues('exportFileBankPeriod', 2)"
                                        [label]="'שנתי (קובץ לכל שנה)'"
                                        [value]="'2'"
                                        formControlName="exportFileBankPeriod"
                                        inputId="radio6"
                                        name="exportFileBankPeriod"
                                >
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<ng-container *ngIf="modalUpdateValuesExportFileTypeId">
    <p-dialog (onHide)="modalUpdateValuesExportFileTypeId = false"
              (visibleChange)="modalUpdateValuesExportFileTypeId = false"
              [modal]="true"
              [resizable]="false"
              [visible]="(modalUpdateValuesExportFileTypeId)"
              appendTo="body"
              styleClass="modalUpdateValuesExportFileTypeId"
    >
        <p-header>
            <h1>תכולת קובץ פ. יומן בנק ואשראי</h1>
        </p-header>

        <ng-container *ngIf="modalUpdateValuesExportFileTypeId === 1">
            <p style="margin-top: 15px">
                האם אתם בטוחים שתרצו לאחד את חשבונות הבנק וכרטיסי האשראי?
            </p>
            <p>
                האיחוד יתבצע לכל הקבצים והתנועות (יש לייצא מחדש קובץ שנוצר וממתין
                לקליטה)
            </p>
        </ng-container>
        <ng-container *ngIf="modalUpdateValuesExportFileTypeId === 2">
            <p style="margin-top: 15px">
                האם אתם בטוחים שתרצו להפריד את חשבונות הבנק וכרטיסי האשראי?
            </p>
            <p>
                ההפרדה תתבצע לכל הקבצים והתנועות (יש לייצא מחדש קובץ שנוצר וממתין
                לקליטה)
            </p>
        </ng-container>

        <p style="margin-top: 10px">האם להמשיך?</p>

        <p-footer style="justify-content: center">
            <button
                    (click)="modalUpdateValuesExportFileTypeId = false"
                    class="button-link"
            >
                {{ 'actions.cancellation' | translate }}
            </button>
            <button
                    (click)="
          updateValuesTypeId(modalUpdateValuesExportFileTypeId);
          modalUpdateValuesExportFileTypeId = false
        "
                    class="button-dark"
                    style="width: 121px; height: 33px !important; padding: 0"
            >
                {{ 'actions.approve' | translate }}
            </button>
        </p-footer>
    </p-dialog>
</ng-container>

<ng-container *ngIf="showSupplierDocOrderTypeEdit">
    <p-dialog (visibleChange)="showSupplierDocOrderTypeEdit = false"
              [modal]="true"
              [resizable]="false"
              [visible]="(showSupplierDocOrderTypeEdit)"
              appendTo="body"
              styleClass="showSupplierDocOrderTypeEdit"
    >
        <p-header> מיון התנועות בקובץ הנה”ח</p-header>

        <p>בחרו את סדר המיון שתרצו בהכנסות והוצאות</p>
        <form [formGroup]="info" novalidate>
            <div class="tableSupplierDocOrderTypeEdit">
                <div>
                    <h2>הכנסות</h2>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierIncomeOrderType', '3')"
                                [label]="'אסמכתא'"
                                [value]="'3'"
                                formControlName="supplierIncomeOrderType"
                                inputId="supplierIncomeOrderType_3"
                                name="supplierIncomeOrderType"
                        >
                        </p-radioButton>
                    </div>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierIncomeOrderType', '1')"
                                [label]="'סריקה/העלאה'"
                                [value]="'1'"
                                formControlName="supplierIncomeOrderType"
                                inputId="supplierIncomeOrderType_1"
                                name="supplierIncomeOrderType"
                        >
                        </p-radioButton>
                    </div>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierIncomeOrderType', '2')"
                                [label]="'אישור המסמך'"
                                [value]="'2'"
                                formControlName="supplierIncomeOrderType"
                                inputId="supplierIncomeOrderType_2"
                                name="supplierIncomeOrderType"
                        >
                        </p-radioButton>
                    </div>
                </div>
                <div></div>
                <div>
                    <h2>הוצאות</h2>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierExpenseOrderType', '4')"
                                [label]="'ספקים'"
                                [value]="'4'"
                                formControlName="supplierExpenseOrderType"
                                inputId="supplierExpenseOrderType4"
                                name="supplierExpenseOrderType"
                        >
                        </p-radioButton>
                    </div>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierExpenseOrderType', '3')"
                                [label]="'אסמכתא'"
                                [value]="'3'"
                                formControlName="supplierExpenseOrderType"
                                inputId="supplierExpenseOrderType3"
                                name="supplierExpenseOrderType"
                        >
                        </p-radioButton>
                    </div>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierExpenseOrderType', '1')"
                                [label]="'סריקה/העלאה'"
                                [value]="'1'"
                                formControlName="supplierExpenseOrderType"
                                inputId="supplierExpenseOrderType1"
                                name="supplierExpenseOrderType"
                        >
                        </p-radioButton>
                    </div>
                    <div>
                        <p-radioButton
                                (onClick)="updateValuesFromModal('supplierExpenseOrderType', '2')"
                                [label]="'אישור המסמך'"
                                [value]="'2'"
                                formControlName="supplierExpenseOrderType"
                                inputId="supplierExpenseOrderType2"
                                name="supplierExpenseOrderType"
                        >
                        </p-radioButton>
                    </div>
                </div>
            </div>
        </form>
        <p-footer style="justify-content: center">
            <button
                    (click)="showSupplierDocOrderTypeEdit = false"
                    class="button-link"
            >
                {{ 'actions.cancellation' | translate }}
            </button>
            <button
                    (click)="updateSettings(); showSupplierDocOrderTypeEdit = false"
                    class="button-dark"
                    style="width: 111px; height: 33px !important; padding: 0"
            >
                אישור
            </button>
        </p-footer>
    </p-dialog>
</ng-container>

