<div class="Login container">
	<div class="Login__card">
		<div class="Login__card-header">
			<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/logo2.png" alt="bizibox"/>
			<h1 class="Login__title">
				{{
				'formLogin.' +
				((sucessfulyAuthenticatedWithUsernameProvided$ | async)
						? 'passwordSetup'
						: 'resetPassword') | translate
				}}
			</h1>
		</div>
		
		<div class="Login__card-body" [ngSwitch]="state">
			<div *ngSwitchDefault>
				<!--<h1 class="Login__title">{{'formLogin.resetPassword' | translate}}</h1>-->
				<form
						[formGroup]="formResetPassword"
						(ngSubmit)="submitForm('reset')"
						class="Form"
				>
					<div class="Login__control" formGroupName="reset">
						<mat-form-field hideRequiredMarker="true">
							<mat-label>{{ 'formLogin.enterYouEmail' | translate }}</mat-label>
							<input
									matInput
									autocomplete="off"
									type="text"
									formControlName="email"
									class="forceLTR"
									id="email"
									(focus)="handleFocusEmail()"
									tabindex="1"
							/>
							<mat-error
									*ngIf="
                  formResetPassword.get('reset').touched &&
                  (formResetPassword.get('reset.email').invalid ||
                    formResetPassword.get('reset').hasError('incorrect'))
                "
							>
								{{ 'validation.emailError' | translate }}
							</mat-error>
						</mat-form-field>
						
						<!--<label>{{'formLogin.enterYouEmail' | translate}}</label>-->
						<!--<div-->
						<!--[ngClass]="{'Form__group': true, 'Form__group&#45;&#45;err': formResetPassword.get('reset')['controls'].email?.invalid && formResetPassword.get('reset')['controls'].email?.touched || formResetPassword.get('reset').errors?.incorrect}">-->
						<!--<input type="text" formControlName="email" class="forceLTR" id="email" (focus)="handleFocusEmail()">-->
						
						<!--<div class="Form__feedback" *ngIf="!formResetPassword.get('reset').errors?.incorrect">-->
						<!--{{'validation.emailError' | translate}}-->
						<!--</div>-->
						<!--</div>-->
					</div>
					
					<div class="Login__submit">
						<button
								mat-raised-button
								color="primary"
								type="submit"
								id="resetPasswordSubmit"
								[disabled]="
                !formResetPassword.get('reset').valid || formInProgress
              "
						>
							<mat-spinner
									diameter="20"
									color="accent"
									*ngIf="formInProgress"
							></mat-spinner>
							<span *ngIf="!formInProgress">{{
								'formLogin.continue' | translate
								}}</span>
						</button>
					</div>
				</form>
			</div>
			
			<div class="Login__otp" *ngSwitchCase="resetState.OTP">
				<!--<h1 class="Login__title">{{'formLogin.resetPassword' | translate}}</h1>-->
				
				<ng-container *ngIf="isNoMoreTry; else otpValidationForm">
					<div
							class="Login__info"
							style="text-align: center"
							[innerHTML]="
              'validation.unableToContinueIdentificationProcess' | translate
            "
					></div>
					<div class="Login__submit" style="text-align: center">
						<a
								mat-raised-button
								color="primary"
								type="button"
								[routerLink]="['/login']"
								id="loginLink"
						>
							{{ 'formLogin.backToLoginPage' | translate }}
						</a>
					</div>
				</ng-container>
				<ng-template #otpValidationForm>
					<form
							[formGroup]="formResetPassword"
							novalidate
							(ngSubmit)="submitForm('confirm')"
							class="Form"
					>
						<div class="Login__control" formGroupName="confirm">
							<mat-form-field hideRequiredMarker="true">
								<mat-label>{{
									'formLogin.codeSent' | translate: translateParams
									}}</mat-label>
								<input
										matInput
										autocomplete="off"
										type="text"
										formControlName="code"
										class="forceLTR"
										id="code"
										[attr.disabled]="isNoMoreTry ? '' : null"
										[errorStateMatcher]="immediateErrorMatcher"
								/>
								
								<mat-hint
										*ngIf="
                    formResetPassword.get('confirm').invalid &&
                    formResetPassword.get('confirm.code').hasError('pattern')
                  "
								>
									<i class="fa fa-exclamation-triangle"></i>
									{{ 'formLogin.codeContainsNumbersOnly' | translate }}
								</mat-hint>
								<!--<mat-hint *ngIf="!formResetPassword.get('confirm').errors?.incorrect">-->
								<!--<i class="fa fa-exclamation-triangle"></i> {{'formLogin.codeContainsNumbersOnly' | translate}}-->
								<!--</mat-hint>-->
								
								<mat-error
										*ngIf="
                    !isNoMoreTry &&
                    formResetPassword.get('confirm.code').hasError('incorrect')
                  "
								>
									{{ 'validation.codeNotValid' | translate }}
								</mat-error>
								
								<mat-error *ngIf="isNoMoreTry">
									{{
									'validation.unableToContinueIdentificationProcess'
											| translate
									}}
								</mat-error>
							</mat-form-field>
							
							<!--<label>{{'formLogin.codeSent' | translate:translateParams}}</label>-->
							<!--<div-->
							<!--[ngClass]="{'Form__group': true, 'Form__group&#45;&#45;err': (!formResetPassword.get('confirm')['controls'].code?.valid && !(formResetPassword.get('confirm')['controls'].code?.pristine) || formResetPassword.get('confirm').errors?.incorrect)}">-->
							<!--<input type="text" formControlName="code" class="forceLTR" id="code" [attr.disabled]="isNoMoreTry ? '' : null" >-->
							
							<!--<div class="Form__feedback Form__feedback&#45;&#45;warning"-->
							<!--*ngIf="!formResetPassword.get('confirm').errors?.incorrect">-->
							<!--<i class="fa fa-exclamation-triangle"></i> {{'formLogin.codeContainsNumbersOnly' | translate}}-->
							<!--</div>-->
							
							<!--<div class="Form__feedback" *ngIf="(formResetPassword.get('confirm').errors?.incorrect) && !isNoMoreTry">-->
							<!--{{'validation.codeNotValid' | translate}}-->
							<!--</div>-->
							
							<!--<div class="Form__feedback" *ngIf="isNoMoreTry">-->
							<!--{{'validation.unableToContinueIdentificationProcess' | translate}}-->
							<!--</div>-->
							<!--</div>-->
						</div>
					
						<div class="Login__submit">
							<button
									mat-raised-button
									color="primary"
									type="submit"
									id="codeSubmit"
									[disabled]="
                  !formResetPassword.get('confirm').valid || formInProgress
                "
							>
								<mat-spinner
										diameter="20"
										color="accent"
										*ngIf="formInProgress"
								></mat-spinner>
								<span *ngIf="!formInProgress">{{
									'formLogin.continue' | translate
									}}</span>
							</button>
						</div>
						
						<div class="Login__options" *ngIf="tokenInfo.smsRemained">
							<p>
								{{ 'formLogin.didNotReceiveTheCode' | translate }}
								<a id="resendSms" [routerLink]="" (click)="resendSms()">{{
									'formLogin.tryAgain' | translate
									}}</a>
							</p>
						</div>
					</form>
				</ng-template>
			</div>
			
			<div *ngSwitchCase="resetState.SET_PASSWORD">
				<!--<h1 class="Login__title">{{'formLogin.resetPassword' | translate}}</h1>-->
				<form
						[formGroup]="formResetPassword"
						novalidate
						(ngSubmit)="submitForm('setPassword')"
						class="Form"
				>
					<div
							class="Login__control Login__control--status"
							formGroupName="setPassword"
					>
						<mat-form-field hideRequiredMarker="true">
							<mat-label>{{ 'formLogin.newPassword' | translate }}</mat-label>
							<input
									matInput
									autocomplete="off"
									[type]="passwordHide ? 'password' : 'text'"
									class="forceLTR"
									formControlName="password"
									id="password"
									(keypress)="handleKeyPress($event)"
									(keydown)="handleKeyDown($event)"
									[errorStateMatcher]="formAwaredErrorStateMatcher"
							/>
							<mat-icon
									matSuffix
									(click)="passwordHide = !passwordHide"
									[svgIcon]="
                  'bizibox_' + (passwordHide ? 'visibility_off' : 'visibility')
                "
							></mat-icon>
						</mat-form-field>
						
						<div
								class="Form__group Form__group--icon Form__group--err"
								*ngIf="
                formResetPassword
                  .get('setPassword.password')
                  .hasError('sameAsUsername')
              "
								style="min-height: auto"
						>
							<div class="Form__feedback">
								{{ 'validation.passwordEqualsUsername' | translate }}
							</div>
						</div>
						<!--<label>{{'formLogin.newPassword' | translate}}</label>-->
						<!--<div class="Form__group Form__group&#45;&#45;icon">-->
						<!--<i (click)="passwordHide = !passwordHide"-->
						<!--[ngClass]="{'fa': true, 'fa-eye': passwordHide, 'fa-eye-slash': !passwordHide}"></i>-->
						<!--<input [type]="passwordHide ? 'password' : 'text'" class="forceLTR" formControlName="password" id="password" (keypress)="handleKeyPress($event)" (keydown)="handleKeyDown($event)">-->
						
						<!--<div class="Form__feedback Form__feedback&#45;&#45;status">-->
						<!--<i class="fa"-->
						<!--[ngClass]="(formResetPassword.get('setPassword.password').errors?.minlength || formResetPassword.get('setPassword.password').errors?.maxlength || formResetPassword.get('setPassword.password').errors?.required)  ? 'fa-ban' : 'fa-check'"></i>-->
						<!--{{'validation.passwordLength' | translate}}-->
						<!--</div>-->
						<!--<div class="Form__feedback Form__feedback&#45;&#45;status">-->
						<!--<i class="fa"-->
						<!--[ngClass]="formResetPassword.get('setPassword.password').errors?.nodigit ? 'fa-ban' : 'fa-check'"></i>-->
						<!--{{'validation.oneDigit' | translate}}-->
						<!--</div>-->
						<!--<div class="Form__feedback Form__feedback&#45;&#45;status">-->
						<!--<i class="fa"-->
						<!--[ngClass]="formResetPassword.get('setPassword.password').errors?.noletter? 'fa-ban' : 'fa-check'"></i>-->
						<!--{{'validation.oneLetter' | translate}}-->
						<!--</div>-->
						<!--</div>-->
					</div>
					
					<div class="Login__control" formGroupName="setPassword">
						<mat-form-field hideRequiredMarker="true">
							<mat-label>{{
								'formLogin.confirmNewPassword' | translate
								}}</mat-label>
							<input
									matInput
									autocomplete="off"
									[type]="confirmPasswordHide ? 'password' : 'text'"
									class="forceLTR"
									formControlName="confirmPassword"
									id="confirmPassword"
									(keypress)="handleKeyPress($event)"
									(keydown)="handleKeyDown($event)"
									[errorStateMatcher]="formAwaredErrorStateMatcher"
							/>
							<mat-icon
									matSuffix
									(click)="confirmPasswordHide = !confirmPasswordHide"
									[svgIcon]="
                  'bizibox_' +
                  (confirmPasswordHide ? 'visibility_off' : 'visibility')
                "
							></mat-icon>
						</mat-form-field>
						<div
								class="Form__group Form__group--icon"
								[ngClass]="{
                'Form__group--err':
                  !formResetPassword.get('setPassword.confirmPassword')
                    ?.pristine &&
                  formResetPassword.get('setPassword').errors?.mismatch
              }"
						>
							<div class="Form__feedback">
								{{ 'validation.passwordNotEqual' | translate }}
							</div>
							<div
									class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
									*ngIf="isHebrew"
							>
								<i class="fa fa-exclamation-triangle"></i>
								{{ 'validation.isHebrew' | translate }}
							</div>
							<div
									class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
									*ngIf="isCapsLock"
							>
								<i class="fa fa-exclamation-triangle"></i>
								{{ 'validation.capsLockIsOn' | translate }}
							</div>
							<div class="Form__feedback Form__feedback--status">
								<i
										class="fa"
										[ngClass]="
                    formResetPassword.get('setPassword.password').errors
                      ?.minlength ||
                    formResetPassword.get('setPassword.password').errors
                      ?.maxlength ||
                    formResetPassword.get('setPassword.password').errors
                      ?.required
                      ? 'fa-ban'
                      : 'fa-check'
                  "
								></i>
								{{ 'validation.passwordLength' | translate }}
							</div>
							<div class="Form__feedback Form__feedback--status">
								<i
										class="fa"
										[ngClass]="
                    formResetPassword
                      .get('setPassword.password')
                      .hasError('required') ||
                    formResetPassword.get('setPassword.password').errors
                      ?.nodigit
                      ? 'fa-ban'
                      : 'fa-check'
                  "
								></i>
								{{ 'validation.oneDigit' | translate }}
							</div>
							<div class="Form__feedback Form__feedback--status">
								<i
										class="fa"
										[ngClass]="
                    formResetPassword
                      .get('setPassword.password')
                      .hasError('required') ||
                    formResetPassword.get('setPassword.password').errors
                      ?.noletter
                      ? 'fa-ban'
                      : 'fa-check'
                  "
								></i>
								{{ 'validation.oneLetter' | translate }}
							</div>
						</div>
						
						<!--<label>{{'formLogin.confirmNewPassword' | translate}}</label>-->
						<!--<div class="Form__group Form__group&#45;&#45;icon"-->
						<!--[ngClass]="{'Form__group&#45;&#45;err': !formResetPassword.get('setPassword.confirmPassword')?.pristine && formResetPassword.get('setPassword').errors?.mismatch}">-->
						<!--<i (click)="confirmPasswordHide = !confirmPasswordHide"-->
						<!--[ngClass]="{'fa': true, 'fa-eye': confirmPasswordHide, 'fa-eye-slash': !confirmPasswordHide}"></i>-->
						<!--<input [type]="confirmPasswordHide ? 'password' : 'text'" class="forceLTR" formControlName="confirmPassword" id="confirmPassword" (keypress)="handleKeyPress($event)" (keydown)="handleKeyDown($event)">-->
						
						<!--<div class="Form__feedback">{{'validation.passwordNotEqual' | translate}}</div>-->
						
						<!--<div class="Form__feedback Form__feedback&#45;&#45;warning Form__feedback&#45;&#45;warning&#45;&#45;block"-->
						<!--*ngIf="isHebrew">-->
						<!--<i class="fa fa-exclamation-triangle"></i> {{'validation.isHebrew' | translate}}-->
						<!--</div>-->
						
						<!--<div class="Form__feedback Form__feedback&#45;&#45;warning Form__feedback&#45;&#45;warning&#45;&#45;block"-->
						<!--*ngIf="isCapsLock">-->
						<!--<i class="fa fa-exclamation-triangle"></i> {{'validation.capsLockIsOn' | translate}}-->
						<!--</div>-->
						<!--</div>-->
					</div>
					
					<div class="Login__submit">
						<button
								mat-raised-button
								color="primary"
								type="submit"
								id="submitPassword"
								[disabled]="
                !formResetPassword.get('setPassword').valid || formInProgress
              "
						>
							<mat-spinner
									diameter="20"
									color="accent"
									*ngIf="formInProgress"
							></mat-spinner>
							<span *ngIf="!formInProgress">{{
								'formLogin.login' | translate
								}}</span>
						</button>
					</div>
				</form>
			</div>
			
			<div *ngSwitchCase="resetState.CAN_NOT_BE_CHANGED">
				<!--<h1 class="Login__title">{{'formLogin.resetPassword' | translate}}</h1>-->
				
				<div class="Login__info" style="text-align: center">
					<p>{{ 'formLogin.resetPasswordInfo1' | translate }}</p>
					<p>{{ 'formLogin.resetPasswordInfo2' | translate }}</p>
					<p>{{ 'formLogin.resetPasswordInfo3' | translate }}</p>
				</div>
				
				<div class="Login__submit" style="text-align: center">
					<a
							mat-raised-button
							color="primary"
							type="button"
							id="loginSubmit"
							href="https://bizibox.biz/contact-us/"
							target="_self"
					>
						{{ 'formLogin.contactUs' | translate }}
					</a>
					<p>
						<a [routerLink]="['/login']" id="loginLink">{{
							'formLogin.backToLoginPage' | translate
							}}</a>
					</p>
				</div>
			</div>
			
			<div class="Login__links">
				<p>
					{{ 'formLogin.needHelp' | translate }}
					<a href="https://bizibox.biz/contact-us/" target="_blank">{{
						'formLogin.talkToUs' | translate
						}}</a>
				</p>
				<p>
					{{ 'formLogin.download' | translate }}
					<a href="http://898.tv/bizibox" target="_blank">{{
						'formLogin.teamViewer' | translate
						}}</a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="Login__footer">
		<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/verisign-icon.png" alt="Verisign"/>
		<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/fortinet-logo-g.png" alt="Fortinet"/>
		<img
				src="/assets/images/128bit-logo.png"
				alt="128bit"
				style="-webkit-filter: grayscale(1); filter: grayscale(1)"
		/>
	</div>
</div>
