<div class="agreementPageComponent">
	<div *ngIf="companyContactId && !showAlertsThanks" class="page w-form">
		<form id="wf-form-tos-form" method="get" name="wf-form-tos-form">
			<div class="container" style="min-height: 100vh">
				<img
						alt=""
						class="tos-logo" fill loading="lazy"
						ngSrc="images/bizibox-logo.png"
						style="height: auto; width: auto; position: relative;"
				/>
				<div>
					<div class="title">
						אישור למתן ייפוי כח לרואה חשבון
						{{ getContactInfo.accountantOfficeName }}
						ולשימוש בשירותי bizibox
					</div>
					<div class="last-updated">תאריך עדכון אחרון: 25.10.2022</div>
				</div>
				<div class="text-block">הנני:</div>
				<span class="prefilled-info"> {{ getContactInfo.companyName }} </span>
				<div class="text-block">מספר זיהוי:</div>
				<span class="prefilled-info"> {{ getContactInfo.companyHp }} </span>
				<div class="text-block">
					("<strong>העוסק</strong>"), מצהיר בזאת כי –&nbsp;
				</div>
				<ul class="terms-list" role="list">
					<li>
						העוסק נתן יפוי כוח לעניין מתן שירותי רואי חשבון או יועץ מס למר/גב'
						<span class="prefilled-info">
              {{ getContactInfo.accountantOfficeName }}
            </span>
						בעל מספר ת.ז:
						<span class="prefilled-info">
              {{ getContactInfo.accountantOfficeHp }}
            </span>
						(להלן "המייצג"). העוסק ייפה את כוח המייצג לעניין קבלת השירותים של
						תוכנת bizibox ("<strong>העוסק</strong>") לגביו, לרבות עניין ווידוא
						הסכמתו להמשך העברת המידע הפיננסי כל עוד הוא המייצג.
					</li>

					<li>
						אני מסכים כי המייצג יעשה שימוש בשירותים של התוכנה מבית חברת איי-פקט
						בע"מ ("<strong>החברה</strong>" או "<strong>אנחנו</strong>"), לצורך
						אספקת השירותים של המייצג עבורי, וכן אני מסכים כי במסגרת השימוש
						בתוכנה - (1) תידרש גישה לנתוני הנהלת החשבונות וכניסה לחשבונות שלי
						במוסדות הפיננסים. (2) המייצג ישתמש בפרטי ההזדהות שלי בחשבונותיי
						במוסדות הפיננסיים על מנת לאפשר למייצג לקבל את הנתונים הפיננסיים
						באמצעות המערכת המאובטחת של החברה.(3) כחלק משימוש המייצג בתוכנה,
						תתבצע קריאה אוטומטית של הנתונים, בערוץ תקשורת מאובטח, מהם תפיק
						התוכנה תוצרי שימוש למייצג. (4) במהלך שימוש המייצג בתוכנה יישמר ו/או
						יבוצע שימוש במידע ע"י החברה בכדי לאפשר למשתמשים את השימוש בתוכנה ואת
						קבלת השירות מאיתנו, לאפשר לנו לשפר את השירות, להציע שירותים, לברר
						ולפעול בכל עניין הנוגע לתנאי שימוש אלו ולמדיניות הפרטיות, לנתח,
						לחקור ולבקר עניינים נוספים בקשר לתוכנה ו/או לשירותי החברה ו/או ביחס
						אליך ולמייצגים. (5) אנו רשאים להסתייע בשירותי צד ג' בנוגע לתפעול
						התוכנה (כגון גוגל ואמזון), והכול כמפורט ב<a
							href="https://bizibox.biz/license-agreement-to-accountants-and-tax-consultants/"
							target="_blank"
					>תנאי השימוש הכלליים</a
					>
						וב<a
							href="https://bizibox.biz/privacy-policy-bizibox/"
							target="_blank"
					>מדיניות הפרטיות</a
					>.
					</li>
					<li>
						מובהר כי הסכמתך כוללת גם הסכמה ל<a
							href="https://bizibox.biz/general-responsibility-policy/"
							target="_blank"
					>מדיניות האחריות הכללית</a
					>
						ו-<a
							href="https://bizibox.biz/the-companys-intellectual-property-policy-and-prohibited-uses/"
							target="_blank"
					>מדיניות הקניין הרוחני והשימושים אסורים</a
					>
						של החברה (ביחד יקראו תנאי הסכם זה ומסמכי המדיניות
						"<strong>ההסכם</strong>").&nbsp;
					</li>
					<li>
						ידוע לך כי התוכנה מסופקת למייצג שלך בכפוף לתנאי הרישיון ולהסכם
						ההתקשרות עימו, לצורך שיפור תהליכי הנהלת החשבונות וייעול תהליכי
						העבודה בניהול המשרד ושיפור השירות של המייצג, ובכל מקרה אינה מיועדת
						לספק לך או למייצג שירותי ייעוץ מכל סוג. על כן, השימוש בתוכנה אינו
						תחליף להפעלת שיקול דעתו העצמאי של המייצג וכל פעולה ו/או החלטה על
						בסיס התוכנה היא באחריות המייצג בלבד.&nbsp;
					</li>
					<li>
						השירות ניתן לעוסק מתוך הנחה כי השימוש בנתונים שיעשה על ידי
						המייצג&nbsp; ו/או כל גורם מטעמו, יעשה אך ורק לצורך מימושה של מטרת
						ההתקשרות המובאת לעיל ותוך שימוש בכל הכלים הנדרשים לפי דין לאבטחת
						המידע ושמירה על סודיותו. החברה אינה נושאת בכל אחריות בגין הפרה של
						המייצג או מי מטעמו בקשר למידע או לאבטחת המידע או בקשר לכל הפרה אחרת
						של חובה שחב המייצג לפי כל דין.&nbsp;&nbsp;
					</li>
					<li>
						תוכל בכל עת לחזור בך מהסכמתך לתנאים המפורטים לעיל על ידי משלוח מייל
						לכתובת <a href="mailto:service@bizibox.biz">service@bizibox.biz</a>.
						בתוך 7 ימים ממועד קבלת הודעה כאמור, החברה תחסום את הגישה של המייצג
						לתוכנה ותשמיד כל מידע שנאסף באמצעות התוכנה אודותיך ואשר נשמר
						במערכותיה בהתאם לתנאי ההסכם.&nbsp;&nbsp;
					</li>
					<li>
						הינך מתבקש לידענו בהקדם באמצעות משלוח מייל לכתובת
						<a href="mailto:service@bizibox.biz">service@bizibox.biz</a>
						במקרה שהמייצג יחדל מלייצג אותך.&nbsp;
					</li>
					<li>
						הנני מצהיר כי אני מורשה לחתום על מסמך זה בשם העוסק וכי ההחלטה לחתום
						על מסמך זה התקבלה אצל העוסק כדין.
					</li>
				</ul>
				<div class="agreement-checkboxes">
					<label class="w-checkbox checkbox-field"
					><input
							[(ngModel)]="marketInfo"
							class="w-checkbox-input checkbox"
							id="accept-communication"
							name="accept-communication"
							type="checkbox"
					/><span
							class="w-form-label"
							for="checkbox-2"
							style="font-weight: bold"
					>
              קראתי ואני מסכים לכל התנאים המפורטים.
            </span></label
					>
				</div>
			</div>

			<div class="button-fixed-container">
				<div class="container button-container">
					<button
							(click)="preSending = true;"
							[disabled]="!marketInfo"
							class="button w-button w-button-submit"
							style="font-weight: bold"
							type="submit"
					>
						לחץ לאישור
					</button>
					<!--                    <a href="#" class="button secondary-button w-button" (click)="updateContactInfo(false)">לא מאשר</a>-->
				</div>
			</div>
		</form>
	</div>

	<div
			*ngIf="!companyContactId"
			class="title"
			style="
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    "
	>
		יש להזין בשורת הכתובת את המזהה הרצוי
	</div>
</div>

<p-dialog (visibleChange)="showAlertsThanks = false"
          [modal]="true"
          [visible]="(showAlertsThanks)"
          appendTo="body"
          styleClass="landingPageCompaniesAlertsThanks"
>
	<div>
		<div id="div_v">
			<img fill ngSrc="/assets/images/companies-landing-v.png"
			     style="height: auto; width: auto; position: relative;"/>
		</div>
		<h3>
			תודה רבה! כעת רואי החשבון שלך
			<br/>
			יכולים להשתמש בתוכנת bizibox.
		</h3>
		<p style="font-size: 16px">ניתן לסגור את הדף</p>
	</div>
</p-dialog>

<ng-container *ngIf="otpInfo && otpInfo.displayPhoneNumber">
	<p-dialog (onHide)="otpInfo.displayPhoneNumber = false"
	          (visibleChange)="otpInfo.displayPhoneNumber = false"
	          [closable]="false"
	          [closeOnEscape]="false"
	          [draggable]="false"
	          [modal]="true"
	          [resizable]="false"
	          [visible]="(otpInfo && otpInfo.displayPhoneNumber)"
	          appendTo="body"
	          styleClass="formLoginOtpModal formLoginOtpModalAgreement"
	>
		<div>
			<div>
				<div>
					<div class="Login__otp">
						<h1>הזנ/י את הקוד שקיבלת ב-SMS</h1>
						<div>
							<p>
								קוד בן 4 ספרות נשלח למספר הטלפון ששוייך לך במערכת ({{
								otpInfo.displayPhoneNumber
								}})
							</p>
						</div>

						<form
								(ngSubmit)="
                updateContactInfo(formLoginOtp.value, formLoginOtp.valid, true, false)
              "
								[formGroup]="formLoginOtp"
								class="Form"
								novalidate
						>
							<div
									class="Login__control"
									style="overflow: hidden; padding-bottom: 24px; margin-top: 24px"
							>
								<input
										appNumbersOnly="regexPositiveInt"
										autocomplete="off"
										class="forceLTR"
										formControlName="code"
										id="code"
										maxlength="256"
										placeholder="...הקוד שלך כאן"
										type="text"
								/>
								<div
										*ngIf="
                    (!formLoginOtp.hasError('wrongCode') &&
                      !formLoginOtp.hasError('incorrect') &&
                      formLoginOtp.touched &&
                      formLoginOtp.invalid) ||
                    formLoginOtp.pristine
                  "
										style="font-size: 14px"
								>
									<i class="fa fa-exclamation-triangle"></i>
									{{ 'formLogin.codeContainsNumbersOnly' | translate }}
								</div>

								<div
										*ngIf="
                    formLoginOtp.hasError('wrongCode') &&
                    !otpInfo.correctCode &&
                    formLoginOtp.touched &&
                    formLoginOtp.invalid
                  "
										class="popup-error-message"
								>
									<ng-container *ngIf="(otpInfo && otpInfo.remainingAttempts === 0 && !otpInfo.correctCode)">
										הקוד שהזנת שגוי. אנא
										<span (click)="reload()" class="link">
                                              נסה שנית
                                        </span>
									</ng-container>
									<ng-container *ngIf="!(otpInfo && otpInfo.remainingAttempts === 0 && !otpInfo.correctCode)">
										הקוד שהזנת שגוי. אנא נסה שנית
									</ng-container>
<!--									<ng-container-->
<!--											*ngIf="-->
<!--                      otpInfo.remainingAttempts ||-->
<!--                      otpInfo.remainingAttempts === 0-->
<!--                    "-->
<!--									>-->
<!--										<br/>-->
<!--										<strong-->
<!--												style="-->
<!--                        display: block;-->
<!--                        text-align: center;-->
<!--                        font-weight: 700;-->
<!--                        padding-top: 3px;-->
<!--                        text-decoration: underline;-->
<!--                      "-->
<!--										>-->
<!--											<ng-container *ngIf="otpInfo.remainingAttempts">-->
<!--												נותרו עוד-->
<!--												{{ otpInfo.remainingAttempts }}-->
<!--												ניסיונות-->
<!--											</ng-container>-->
<!--											<ng-container *ngIf="otpInfo.remainingAttempts === 0">-->
<!--												נחסמו אפשרויות שליחות קוד נוספות-->
<!--											</ng-container>-->
<!--										</strong>-->
<!--									</ng-container>-->
								</div>

								<div *ngIf="resendOtpCode" class="popup-resend-message">
									הקוד נשלח אליך שוב
								</div>
							</div>

							<div class="Login__submit" style="padding-top: 0">
								<button
										[disabled]="
                    !formLoginOtp.valid ||
                    formInProgress ||
                    (otpInfo && otpInfo.remainingAttempts === 0 && !otpInfo.correctCode)
                  "
										color="primary"
										id="loginOtpSubmit"
										mat-raised-button
										style="
                    display: inline-block !important;
                    padding: 9px 15px !important;
                    border: 0 !important;
                    line-height: inherit !important;
                    text-decoration: none !important;
                    cursor: pointer !important;
                    width: 100% !important;
                    padding-top: 18px !important;
                    padding-bottom: 18px !important;
                    border-radius: 100px !important;
                    background-color: #f2cb35 !important;
                    color: #00225c !important;
                    font-weight: 600 !important;
                    text-align: center !important;
                    margin-bottom: 12px !important;
                    height: auto !important;
                    box-shadow: none !important;
                  "
										type="submit"
								>
									<mat-spinner
											*ngIf="formInProgress"
											color="accent"
											diameter="20"
									></mat-spinner>
									<span *ngIf="!formInProgress">המשך</span>
								</button>
							</div>

							<div
									*ngIf="
                  !formInProgress &&
                  !(otpInfo && otpInfo.remainingAttempts === 0) &&
                  !(otpInfo && otpInfo.remainingResends === 0)
                "
									class="Login__options"
							>
								<p>
									לא קיבלת את הקוד?
									<a (click)="resendOtp()" id="resendSms">שלח שוב</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</p-dialog>
</ng-container>

<ng-container *ngIf="mailInfo && mailInfo.displayEmail">
	<p-dialog (onHide)="mailInfo.displayPhoneNumber = false"
	          (visibleChange)="mailInfo.displayPhoneNumber = false"
	          [closable]="false"
	          [closeOnEscape]="false"
	          [draggable]="false"
	          [modal]="true"
	          [resizable]="false"
	          [visible]="(mailInfo && mailInfo.displayEmail)"
	          appendTo="body"
	          styleClass="formLoginOtpModal formLoginOtpModalAgreement"
	>
		<div>
			<div>
				<div>
					<div class="Login__otp">
						<h1>הזנ/י את הקוד שקיבלת בדוא״ל</h1>
						<div>
							<p>
								קוד בן 4 ספרות נשלח לכתובת הדוא״ל ששוייכה לך במערכת ({{
								mailInfo.displayEmail
								}})
							</p>
						</div>

						<form
								(ngSubmit)="
                updateContactInfo(formLoginOtp.value, formLoginOtp.valid, true, true)
              "
								[formGroup]="formLoginOtp"
								class="Form"
								novalidate
						>
							<div
									class="Login__control"
									style="overflow: hidden; padding-bottom: 24px; margin-top: 24px"
							>
								<input
										appNumbersOnly="regexPositiveInt"
										autocomplete="off"
										class="forceLTR"
										formControlName="code"
										id="code"
										maxlength="256"
										placeholder="...הקוד שלך כאן"
										type="text"
								/>
								<div
										*ngIf="
                    (!formLoginOtp.hasError('wrongCode') &&
                      !formLoginOtp.hasError('incorrect') &&
                      formLoginOtp.touched &&
                      formLoginOtp.invalid) ||
                    formLoginOtp.pristine
                  "
										style="font-size: 14px"
								>
									<i class="fa fa-exclamation-triangle"></i>
									{{ 'formLogin.codeContainsNumbersOnly' | translate }}
								</div>

								<div
										*ngIf="
                    formLoginOtp.hasError('wrongCode') &&
                    !mailInfo.correctCode &&
                    formLoginOtp.touched &&
                    formLoginOtp.invalid
                  "
										class="popup-error-message"
								>
									<ng-container *ngIf="(mailInfo && mailInfo.remainingAttempts === 0 && !mailInfo.correctCode)">
										הקוד שהזנת שגוי. אנא
										<span (click)="reload()" class="link">
                                              נסה שנית
                                        </span>
									</ng-container>
									<ng-container *ngIf="!(mailInfo && mailInfo.remainingAttempts === 0 && !mailInfo.correctCode)">
										הקוד שהזנת שגוי. אנא נסה שנית
									</ng-container>
									<ng-container
											*ngIf="
                      mailInfo.remainingAttempts ||
                      mailInfo.remainingAttempts === 0
                    "
									>
										<br/>
										<strong
												style="
                        display: block;
                        text-align: center;
                        font-weight: 700;
                        padding-top: 3px;
                        text-decoration: underline;
                      "
										>
											<ng-container *ngIf="mailInfo.remainingAttempts">
												נותרו עוד
												{{ mailInfo.remainingAttempts }}
												ניסיונות
											</ng-container>
											<ng-container *ngIf="mailInfo.remainingAttempts === 0">
												נחסמו אפשרויות שליחות קוד נוספות
											</ng-container>
										</strong>
									</ng-container>
								</div>

								<div *ngIf="resendOtpCode" class="popup-resend-message">
									הקוד נשלח אליך שוב
								</div>
							</div>

							<div class="Login__submit" style="padding-top: 0">
								<button
										[disabled]="
                    !formLoginOtp.valid ||
                    formInProgress ||
                                                            (mailInfo && mailInfo.remainingAttempts === 0 && !mailInfo.correctCode)

                  "
										color="primary"
										id="loginOtpSubmit"
										mat-raised-button
										style="
                    display: inline-block !important;
                    padding: 9px 15px !important;
                    border: 0 !important;
                    line-height: inherit !important;
                    text-decoration: none !important;
                    cursor: pointer !important;
                    width: 100% !important;
                    padding-top: 18px !important;
                    padding-bottom: 18px !important;
                    border-radius: 100px !important;
                    background-color: #f2cb35 !important;
                    color: #00225c !important;
                    font-weight: 600 !important;
                    text-align: center !important;
                    margin-bottom: 12px !important;
                    height: auto !important;
                    box-shadow: none !important;
                  "
										type="submit"
								>
									<mat-spinner
											*ngIf="formInProgress"
											color="accent"
											diameter="20"
									></mat-spinner>
									<span *ngIf="!formInProgress">המשך</span>
								</button>
							</div>

							<div
									*ngIf="
                  !formInProgress &&
                  !(mailInfo && mailInfo.remainingAttempts === 0) &&
                  !(mailInfo && mailInfo.remainingResends === 0)
                "
									class="Login__options"
							>
								<p>
									לא קיבלת את הקוד?
									<a (click)="resendEmailOtp()" id="resendSms">שלח שוב</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</p-dialog>
</ng-container>


<ng-container *ngIf="preSending">
	<p-dialog (onHide)="preSending = false"
	          (visibleChange)="preSending = false"
	          [closable]="false"
	          [closeOnEscape]="false"
	          [draggable]="false"
	          [modal]="true"
	          [resizable]="false"
	          [visible]="preSending"
	          appendTo="body"
	          styleClass="formLoginOtpModal preSending"
	>
		<div class="popup-content auth-popup-content">
			<h1 class="popup-title">
				{{ getContactInfo.contactFullName }}
				, עליך להזדהות כדי לחתום על ההסכם</h1>
			<div class="popup-form-container" method="get">
				<a id="auth-sms" class="button popup-button auth-button w-button" (click)="sendOtp()">
					<img src="/assets/images/textsms.svg" alt="" class="auth-icon">
					הזדהות באמצעות הודעת SMS
				</a>
				<a id="auth-email" class="button popup-button auth-button w-button" (click)="sendMail()">
					<img src="/assets/images/mailsvg.svg" alt="" class="auth-icon">
					הזדהות באמצעות דוא״ל
				</a>
			</div>
			<div class="popup-paragraph" id="close-auth" (click)="preSending = false">ביטול</div>
		</div>
	</p-dialog>
</ng-container>
