<div class="Signup__control" [formGroup]="credentials">
	<label>{{ 'expressions.creditCardName' | translate }}</label>
	<div class="Form__group">
		<p-dropdown
				[options]="sources"
				[formControlName]="credType"
				[style]="{ width: '268px' }"
				[placeholder]="('actions.select' | translate) + '...'"
				[autoDisplayFirst]="false"
		>
			<ng-template let-item pTemplate="selectedItem">
				<div
						class="text-ellipsis"
						style="
            position: relative;
            display: flex;
            display: -ms-flexbox;
            align-items: center;
          "
				>
					<img
							style="height: auto; width: 24px; position: relative;"  [src]="item.value | toIconSrc: 'card'"
					/>&nbsp;{{ item.label }}
				</div>
			</ng-template>
			<ng-template let-option pTemplate="item">
				<div
						class="text-ellipsis"
						style="
            position: relative;
            display: flex;
            display: -ms-flexbox;
            align-items: center;
          "
				>
					<img
							style="height: auto; width: 24px; position: relative;"  [src]="option.value | toIconSrc: 'card'"
					/>&nbsp;{{ option.label }}
				</div>
			</ng-template>
		</p-dropdown>
	</div>
</div>
<ng-container *ngIf="foreignControls">
	<div
			class="Signup__control"
			*ngFor="let fc of foreignControls"
			[formGroup]="credentials"
	>
		<label [for]="fc.key">{{ fc.label }}</label>
		<div
				[ngClass]="{
        Form__group: true,
        'Form__group--err':
          !credentials.get(fc.key).valid && credentials.get(fc.key).dirty,
        'Form__group--icon': fc.controlType === 'password'
      }"
		>
			<img
					*ngIf="fc.controlType === 'password'"
					(click)="passwordHide = !passwordHide"
				[src]="
          '/assets/images/' +
          (passwordHide ? 'visibility_off' : 'visibility') +
          '.svg'
        "
			/>
			<!--<i (click)="passwordHide = !passwordHide" *ngIf="fc.controlType === 'password'"-->
			<!--[ngClass]="{'fa': true, 'fa-eye': passwordHide, 'fa-eye-slash': !passwordHide}"></i>-->
			<input
					[type]="
          fc.controlType !== 'password'
            ? fc.controlType
            : !passwordHide
            ? 'text'
            : fc.controlType
        "
					[id]="fc.key"
					[name]="fc.key"
					[formControlName]="fc.key"
					[autocomplete]="
          fc.controlType === 'password' && passwordHide ? 'new-password' : 'off'
        "
			/>
		</div>
		<ng-container *ngFor="let rule of fc.rules">
			<div
					class="Form__feedback Form__feedback--warning Form__feedback--warning--block"
					*ngIf="credentials.get(fc.key).invalid && credentials.get(fc.key).dirty"
			>
				<i class="fa fa-fw fa-exclamation-triangle"></i> {{ rule }}
			</div>
		</ng-container>
	</div>
</ng-container>
