<small class="mat-body"
  >&#42;{{ 'signup.personalInfoStep.subtitle' | translate }}</small
>
<form novalidate [formGroup]="personal" (ngSubmit)="onSubmit()">
  <div class="Signup__control">
    <mat-form-field hideRequiredMarker="true">
      <mat-label>{{
        'signup.personalInfoStep.firstName' | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        id="firstName"
        name="firstName"
        formControlName="firstName"
        autocomplete="given-name"
        [appMaxInputLength]="30"
      />
    </mat-form-field>
  </div>
  <div class="Signup__control">
    <mat-form-field hideRequiredMarker="true">
      <mat-label>{{
        'signup.personalInfoStep.lastName' | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        id="lastName"
        name="lastName"
        formControlName="lastName"
        autocomplete="family-name"
        [appMaxInputLength]="30"
      />
    </mat-form-field>
  </div>
  <div class="Signup__control">
    <mat-form-field hideRequiredMarker="true">
      <mat-label>{{
        ('signup.personalInfoStep.cell' | translate) +
          ' (' +
          ('signup.personalInfoStep.cell-placeholder' | translate) +
          ')'
      }}</mat-label>
      <input
        matInput
        type="text"
        id="cell"
        name="cell"
        formControlName="cell"
        (keypress)="handleKeyPress($event)"
        #cellInp
        autocomplete="tel-national"
      />
      <mat-hint
        *ngIf="
          !isValidCellPart && cellInp.ownerDocument.activeElement === cellInp
        "
      >
        <i class="fa fa-exclamation-triangle"></i>
        {{ 'signup.businessInfoStep.idPatternError' | translate }}
      </mat-hint>
      <mat-error
        *ngIf="
          personal.get('cell').invalid &&
          personal.get('cell').dirty &&
          !(!isValidCellPart && cellInp.ownerDocument.activeElement === cellInp)
        "
      >
        {{ 'מספר טלפון לא תקין' }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="Signup__control">
    <mat-form-field hideRequiredMarker="true">
      <mat-label>{{ 'signup.personalInfoStep.email' | translate }}</mat-label>
      <input
        matInput
        type="text"
        id="mail"
        name="mail"
        formControlName="mail"
        (keypress)="handleKeyPress($event)"
        #mailInp
        autocomplete="mail"
        [errorStateMatcher]="
          mailAndPasswordHaveDifferentValuesErrorStateMatcher
        "
      />
      <mat-hint
        *ngIf="isHebrew && mailInp.ownerDocument.activeElement === mailInp"
      >
        <i class="fa fa-exclamation-triangle"></i>
        {{ 'validation.isHebrew' | translate }}
      </mat-hint>
      <mat-error *ngIf="personal.get('mail').hasError('emailExists')">
        <i class="fa fa-ban"></i> {{ 'מייל זה קיים במערכת, עבור ל-'
        }}<a href="/">{{ 'מסך כניסה' }}</a>
      </mat-error>
    </mat-form-field>
  </div>

  <div
    class="Form__feedback Form__feedback--err"
    style="margin-top: -5px; margin-bottom: 5px"
    *ngIf="
      personal.get('mail').dirty &&
      personal.get('password').dirty &&
      personal.hasError('mailSameAspassword')
    "
  >
    {{ 'validation.passwordEqualsUsername' | translate }}
  </div>

  <div
    class="Signup__control Signup__control--status"
    style="margin-bottom: 0.2em"
  >
    <mat-form-field hideRequiredMarker="true">
      <mat-label>{{ 'formLogin.password' | translate }}</mat-label>
      <input
        matInput
        [type]="passwordHide ? 'password' : 'text'"
        formControlName="password"
        id="password"
        #pwdInp
        name="password"
        (keypress)="handleKeyPress($event)"
        (keydown)="handleKeyDown($event)"
        autocomplete="new-password"
        [errorStateMatcher]="
          mailAndPasswordHaveDifferentValuesErrorStateMatcher
        "
      />
      <mat-icon
        matSuffix
        (click)="passwordHide = !passwordHide"
        [svgIcon]="
          'bizibox_' + (passwordHide ? 'visibility_off' : 'visibility')
        "
      ></mat-icon>
      <mat-hint
        *ngIf="isHebrew && pwdInp.ownerDocument.activeElement === pwdInp"
      >
        <i class="fa fa-exclamation-triangle"></i>
        {{ 'signup.businessInfoStep.idPatternError' | translate }}
      </mat-hint>
    </mat-form-field>
    <div class="hints-container">
      <div class="Form__feedback Form__feedback--status">
        <i
          class="fa"
          [ngClass]="
            personal.get('password').hasError('minlength') ||
            personal.get('password').hasError('maxlength') ||
            personal.get('password').hasError('required')
              ? 'fa-ban'
              : 'fa-check'
          "
        ></i>
        {{ 'validation.passwordLength' | translate }}
      </div>
      <div class="Form__feedback Form__feedback--status">
        <i
          class="fa"
          [ngClass]="
            personal.get('password').hasError('nodigit') ? 'fa-ban' : 'fa-check'
          "
        ></i>
        {{ 'validation.oneDigit' | translate }}
      </div>
      <div class="Form__feedback Form__feedback--status">
        <i
          class="fa"
          [ngClass]="
            personal.get('password').hasError('noletter')
              ? 'fa-ban'
              : 'fa-check'
          "
        ></i>
        {{ 'validation.oneLetter' | translate }}
      </div>
    </div>
  </div>
  <div class="Signup__control" style="text-align: start">
    <mat-checkbox formControlName="agreementConfirm" color="primary"
      >{{ 'קראתי ואני מסכים ל' }}
      <a
        [href]="
          parent.agreementId !== '11'
            ? 'https://bizibox.biz/terms-of-use-portal-app'
            : 'https://bizibox.biz/terms-of-use-isracard/'
        "
        target="bizibox-marketing"
        >{{ 'תנאי שימוש' }}</a
      >{{ ' ו' }}
      <a
        [href]="
          parent.agreementId !== '11'
            ? 'https://bizibox.biz/privacy-policy-portal-app'
            : 'https://bizibox.biz/privacy-policy-isracard/'
        "
        target="bizibox-marketing"
        >{{ 'מדיניות הפרטיות' }}</a
      >
    </mat-checkbox>
    <!--<mat-checkbox formControlName="marketingMessagesAgreed" color="primary">{{'הנני מסכים/ה לקבל דיוור שיווקי לתיבת המייל'}}</mat-checkbox>-->
  </div>
  <div class="Login__submit">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [id]="'submitStep'"
      [disabled]="
        !personal.valid || personal.get('agreementConfirm').value !== true
      "
    >
      {{ 'formLogin.continue' | translate }}
    </button>
  </div>
  <!--<p>Form value: {{ personal.value | json }}</p>-->
</form>
