<div
		[appScrollHeight]="!isModal ? 330 : 440"
		class="scrollPage scrollbar-dynamic"
>
	<div *ngIf="loader" class="loader">
		<div class="circle"></div>
	</div>
	<div
			[ngStyle]="{ 'margin-top': isModal ? '0px' : '40px' }"
			class="infoCompanyForm"
	>
		<div
				*ngIf="isModal"
				style="font-size: 14px; padding-bottom: 20px; color: #022258"
		>
			שדה חובה <i style="color: #df0000">*</i>
		</div>
		<form [formGroup]="info" novalidate>
			<div class="columns">
				<div class="sett-table">
					<div>
						<div>כרטיס "קופה קטנה"</div>
						<div>
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									[options]="pettyCashCustIdArr"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									filterBy="lName,custId,hp"
									formControlName="pettyCashCustId"
									id="pettyCashCustId"
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="selectedItem" let-item>
								                  <span
										                  #spanElement
										                  [pTooltip]="item.cartisName"
										                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
										                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
										                  tooltipPosition="top"
								                  >{{ item.custId
									                  }}{{
									                  item.lName ? ' - ' + item.lName : ''
									                  }}</span
								                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
							</p-dropdown>
						</div>
					</div>
					<div>
						<div>
							<i *ngIf="isModal" style="color: #df0000">*</i>
							
							כרטיס "מע"מ עסקאות"
						</div>
						<div>
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									[options]="maamCustIds"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									emptyFilterMessage="לא נמצאו תוצאות"
									filterBy="lName,custId,hp"
									formControlName="custMaamIska"
									id="custMaamIska"
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template let-item pTemplate="selectedItem">
                  <span
		                  #spanElement
		                  [pTooltip]="item.cartisName"
		                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
		                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
		                  tooltipPosition="top"
                  >{{ item.custId
	                  }}{{
	                  item.lName ? ' - ' + item.lName : ''
	                  }}</span
                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
							</p-dropdown>
						</div>
					</div>
					<div>
						<div>
							<i *ngIf="supplierTaxDeductionCustIdReq" style="color: #df0000"
							>*</i
							>
							
							כרטיס "ניכוי מס במקור לספקים"
						</div>
						<div>
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									[options]="supplierTaxDeductionCustIdArr"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									emptyFilterMessage="לא נמצאו תוצאות"
									filterBy="lName,custId,hp"
									formControlName="supplierTaxDeductionCustId"
									id="supplierTaxDeductionCustId"
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template let-item pTemplate="selectedItem">
                  <span
		                  #spanElement
		                  [pTooltip]="item.cartisName"
		                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
		                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
		                  tooltipPosition="top"
                  >{{ item.custId
	                  }}{{
	                  item.lName ? ' - ' + item.lName : ''
	                  }}</span
                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
							</p-dropdown>
				
						</div>
					</div>
					<!--                    <div>-->
					<!--                        <div>-->
					<!--                            כרטיס "יתרות פתיחה"-->
					<!--                        </div>-->
					<!--                        <div>-->
					<!--                            <p-dropdown-->
					<!--                                    formControlName="openingBalanceCustId"-->
					<!--                                    id="openingBalanceCustId"-->
					<!--                                    [options]="companyCustomerDetails"-->
					<!--                                    [autoDisplayFirst]="false"-->
					<!--                                    [filter]="true"-->
					<!--                                    [scrollHeight]="'135px'"-->
					<!--                                    (onChange)="updateBookKeepingCust()"-->
					<!--                                    -->
					<!--                                    (onFocus)="clearFilter(formDropdowns)"-->
					<!--                                    filterBy="lName,custId,hp"-->
					<!--                                    emptyFilterMessage="לא נמצאו תוצאות"-->
					<!--                                    optionLabel="custId"-->
					<!--                                    appendTo="body"-->
					<!--                                    dataKey="custId"-->
					<!--                                    styleClass="ddInfoCompanyForm"-->
					<!--                                    -->
					<!--                                    [style]="{'width': '100%'}"-->
					<!--                                    placeholder="בחירה"-->
					<!--                                    panelStyleClass="company-customer-dropdown-panel cardsDD"-->
					<!--                                    #formDropdowns>-->
					<!--                                <ng-template let-item pTemplate="selectedItem">-->
					<!--                                                        <span style="vertical-align:middle;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"-->
					<!--                                                              #spanElement-->
					<!--                                                              [tooltipDisabled]="spanElement.offsetWidth >= spanElement.scrollWidth"-->
					<!--                                                              [pTooltip]="item.custId + ' - ' + item.lName"-->
					<!--                                                              tooltipPosition="top">{{item.custId}}</span>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template let-item pTemplate="item">-->
					<!--                                    <div class="p-helper-clearfix cust-item">-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis">{{item.custId}}</span>-->
					<!--                                        </div>-->
					<!--                                        <div class="separator" *ngIf="item.lName"><span>-</span></div>-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis" *ngIf="item.lName">{{item.lName}}</span>-->
					<!--                                        </div>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template pTemplate="noItem">-->
					<!--                                    <div class="p-helper-clearfix"-->
					<!--                                         style="font-size: .95em; padding: .3em 1em;">-->
					<!--                                        <div>לא מצאת את הכרטיס שחיפשת?</div>-->
					<!--                                        <div>צרו כרטיס חדש בהנה"ח</div>-->
					<!--                                        <button class="button-link"-->
					<!--                                                style="padding: 0; font-size: inherit;">-->
					<!--                                            ולחצו על-->
					<!--                                            רענון הנתונים-->
					<!--                                        </button>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                            </p-dropdown>-->
					<!--                        </div>-->
					<!--                    </div>-->
					<!--                    <div>-->
					<!--                        <div>-->
					<!--                            כרטיס "הוצאות לשלם"-->
					<!--                        </div>-->
					<!--                        <div>-->
					<!--                            <p-dropdown-->
					<!--                                    formControlName="expenseCustId"-->
					<!--                                    id="expenseCustId"-->
					<!--                                    [options]="companyCustomerDetails"-->
					<!--                                    [autoDisplayFirst]="false"-->
					<!--                                    [filter]="true"-->
					<!--                                    [scrollHeight]="'135px'"-->
					<!--                                    (onChange)="updateBookKeepingCust()"-->
					<!--                                    -->
					<!--                                    (onFocus)="clearFilter(formDropdowns)"-->
					<!--                                    filterBy="lName,custId,hp"-->
					<!--                                    emptyFilterMessage="לא נמצאו תוצאות"-->
					<!--                                    optionLabel="custId"-->
					<!--                                    appendTo="body"-->
					<!--                                    dataKey="custId"-->
					<!--                                    styleClass="ddInfoCompanyForm"-->
					<!--                                    -->
					<!--                                    [style]="{'width': '100%'}"-->
					<!--                                    placeholder="בחירה"-->
					<!--                                    panelStyleClass="company-customer-dropdown-panel cardsDD"-->
					<!--                                    #formDropdowns>-->
					<!--                                <ng-template let-item pTemplate="selectedItem">-->
					<!--                                                        <span style="vertical-align:middle;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"-->
					<!--                                                              #spanElement-->
					<!--                                                              [tooltipDisabled]="spanElement.offsetWidth >= spanElement.scrollWidth"-->
					<!--                                                              [pTooltip]="item.custId + ' - ' + item.lName"-->
					<!--                                                              tooltipPosition="top">{{item.custId}}</span>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template let-item pTemplate="item">-->
					<!--                                    <div class="p-helper-clearfix cust-item">-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis">{{item.custId}}</span>-->
					<!--                                        </div>-->
					<!--                                        <div class="separator" *ngIf="item.lName"><span>-</span></div>-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis" *ngIf="item.lName">{{item.lName}}</span>-->
					<!--                                        </div>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template pTemplate="noItem">-->
					<!--                                    <div class="p-helper-clearfix"-->
					<!--                                         style="font-size: .95em; padding: .3em 1em;">-->
					<!--                                        <div>לא מצאת את הכרטיס שחיפשת?</div>-->
					<!--                                        <div>צרו כרטיס חדש בהנה"ח</div>-->
					<!--                                        <button class="button-link"-->
					<!--                                                style="padding: 0; font-size: inherit;">-->
					<!--                                            ולחצו על-->
					<!--                                            רענון הנתונים-->
					<!--                                        </button>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                            </p-dropdown>-->
					<!--                        </div>-->
					<!--                    </div>-->
				</div>
				<div class="sett-table">
					<!--                    <div>-->
					<!--                        <div>-->
					<!--                            כרטיס "ביטול יתרות"-->
					<!--                        </div>-->
					<!--                        <div>-->
					<!--                            <p-dropdown-->
					<!--                                    formControlName="cancelBalanceCustId"-->
					<!--                                    id="cancelBalanceCustId"-->
					<!--                                    [options]="companyCustomerDetails"-->
					<!--                                    [autoDisplayFirst]="false"-->
					<!--                                    [filter]="true"-->
					<!--                                    [scrollHeight]="'135px'"-->
					<!--                                    (onChange)="updateBookKeepingCust()"-->
					<!--                                    -->
					<!--                                    (onFocus)="clearFilter(formDropdowns)"-->
					<!--                                    filterBy="lName,custId,hp"-->
					<!--                                    emptyFilterMessage="לא נמצאו תוצאות"-->
					<!--                                    optionLabel="custId"-->
					<!--                                    appendTo="body"-->
					<!--                                    dataKey="custId"-->
					<!--                                    styleClass="ddInfoCompanyForm"-->
					<!--                                    -->
					<!--                                    [style]="{'width': '100%'}"-->
					<!--                                    placeholder="בחירה"-->
					<!--                                    panelStyleClass="company-customer-dropdown-panel cardsDD"-->
					<!--                                    #formDropdowns>-->
					<!--                                <ng-template let-item pTemplate="selectedItem">-->
					<!--                                                        <span style="vertical-align:middle;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"-->
					<!--                                                              #spanElement-->
					<!--                                                              [tooltipDisabled]="spanElement.offsetWidth >= spanElement.scrollWidth"-->
					<!--                                                              [pTooltip]="item.custId + ' - ' + item.lName"-->
					<!--                                                              tooltipPosition="top">{{item.custId}}</span>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template let-item pTemplate="item">-->
					<!--                                    <div class="p-helper-clearfix cust-item">-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis">{{item.custId}}</span>-->
					<!--                                        </div>-->
					<!--                                        <div class="separator" *ngIf="item.lName"><span>-</span></div>-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis" *ngIf="item.lName">{{item.lName}}</span>-->
					<!--                                        </div>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template pTemplate="noItem">-->
					<!--                                    <div class="p-helper-clearfix"-->
					<!--                                         style="font-size: .95em; padding: .3em 1em;">-->
					<!--                                        <div>לא מצאת את הכרטיס שחיפשת?</div>-->
					<!--                                        <div>צרו כרטיס חדש בהנה"ח</div>-->
					<!--                                        <button class="button-link"-->
					<!--                                                style="padding: 0; font-size: inherit;">-->
					<!--                                            ולחצו על-->
					<!--                                            רענון הנתונים-->
					<!--                                        </button>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                            </p-dropdown>-->
					<!--                        </div>-->
					<!--                    </div>-->
					<div>
						<div
								[matTooltip]="'אם אין, יש לבחור כרטיס מע״מ תשומות'"
								matTooltipClass="allow-cr"
								matTooltipPosition="above"
								style="cursor: pointer"
						>
							<i *ngIf="isModal" style="color: #df0000">*</i>
							
							כרטיס "מע"מ תשומות נכסים"
						</div>
						<div>
							
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									
									[options]="maamCustIds"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									emptyFilterMessage="לא נמצאו תוצאות"
									filterBy="lName,custId,hp"
									formControlName="custMaamNechasim"
									id="custMaamNechasim"
									
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template let-item pTemplate="selectedItem">
                  <span
		                  #spanElement
		                  [pTooltip]="item.cartisName"
		                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
		                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
		                  tooltipPosition="top"
                  >{{ item.custId
	                  }}{{
	                  item.lName ? ' - ' + item.lName : ''
	                  }}</span
                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
							</p-dropdown>
						</div>
					</div>
					<div>
						<div
								[matTooltip]="'אם אין, יש לבחור כרטיס מע״מ תשומות'"
								matTooltipClass="allow-cr"
								matTooltipPosition="above"
								style="cursor: pointer"
						>
							<i *ngIf="isModal" style="color: #df0000">*</i>
							כרטיס "מע"מ תשומות יבוא"
						</div>
						<div>
							
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									
									[options]="maamCustIds"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									emptyFilterMessage="לא נמצאו תוצאות"
									filterBy="lName,custId,hp"
									formControlName="custMaamYevu"
									id="custMaamYevu"
									
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template let-item pTemplate="selectedItem">
                  <span
		                  #spanElement
		                  [pTooltip]="item.cartisName"
		                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
		                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
		                  tooltipPosition="top"
                  >{{ item.custId
	                  }}{{
	                  item.lName ? ' - ' + item.lName : ''
	                  }}</span
                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
							</p-dropdown>
						</div>
					</div>
				</div>
				<div class="sett-table">
					<div>
						<div>כרטיס " ניכוי מס במקור מלקוחות"</div>
						<div>
					
							
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									
									[options]="customerTaxDeductionCustIdArr"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									emptyFilterMessage="לא נמצאו תוצאות"
									filterBy="lName,custId,hp"
									formControlName="customerTaxDeductionCustId"
									id="customerTaxDeductionCustId"
									
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template let-item pTemplate="selectedItem">
                  <span
		                  #spanElement
		                  [pTooltip]="item.cartisName"
		                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
		                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
		                  tooltipPosition="top"
                  >{{ item.custId
	                  }}{{
	                  item.lName ? ' - ' + item.lName : ''
	                  }}</span
                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
							</p-dropdown>
						</div>
					</div>
					<div>
						<div>
							<i *ngIf="isModal" style="color: #df0000">*</i>
							
							כרטיס "מע"מ תשומות"
						</div>
						<div>
						
							
							<p-dropdown
									#formDropdowns
									(onChange)="updateBookKeepingCust()"
									(onFocus)="clearFilter(formDropdowns)"
									[autoDisplayFirst]="false"
									[filter]="true"
									
									[options]="maamCustIds"
									[scrollHeight]="'135px'"
									[style]="{ width: '100%' }"
									appendTo="body"
									dataKey="custId"
									emptyFilterMessage="לא נמצאו תוצאות"
									filterBy="lName,custId,hp"
									formControlName="custMaamTsumot"
									id="custMaamTsumot"
									
									optionLabel="custId"
									panelStyleClass="company-customer-dropdown-panel cardsDD"
									placeholder="בחירה"
									styleClass="ddInfoCompanyForm"
							>
								<ng-template let-item pTemplate="selectedItem">
                  <span
		                  #spanElement
		                  [pTooltip]="item.cartisName"
		                  [tooltipDisabled]="
                      spanElement.offsetWidth >= spanElement.scrollWidth
                    "
		                  style="
                      vertical-align: middle;
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
		                  tooltipPosition="top"
                  >{{ item.custId
	                  }}{{
	                  item.lName ? ' - ' + item.lName : ''
	                  }}</span
                  >
								</ng-template>
								<ng-template let-item pTemplate="item">
									<div class="p-helper-clearfix cust-item">
										<div>
                      <span class="text-ellipsis">{{
	                      item.cartisName
	                      }}</span>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="empty">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
								<ng-template pTemplate="emptyfilter">
									<div
											class="p-helper-clearfix"
											style="font-size: 0.95em; padding: 0.3em 1em"
									>
										<div>לא מצאת את הכרטיס שחיפשת?</div>
										<div>צרו כרטיס חדש בהנה"ח</div>
										<button
												class="button-link"
												style="padding: 0; font-size: inherit"
										>
											ולחצו על רענון הנתונים
										</button>
									</div>
								</ng-template>
							</p-dropdown>
						</div>
					</div>
					
					<!--                    <div>-->
					<!--                        <div>-->
					<!--                            כרטיס "הכנסות לקבל"-->
					<!--                        </div>-->
					<!--                        <div>-->
					<!--                            <p-dropdown-->
					<!--                                    formControlName="incomeCustId"-->
					<!--                                    id="incomeCustId"-->
					<!--                                    [options]="companyCustomerDetails"-->
					<!--                                    [autoDisplayFirst]="false"-->
					<!--                                    [filter]="true"-->
					<!--                                    [scrollHeight]="'135px'"-->
					<!--                                    (onChange)="updateBookKeepingCust()"-->
					<!--                                    -->
					<!--                                    (onFocus)="clearFilter(formDropdowns)"-->
					<!--                                    filterBy="lName,custId,hp"-->
					<!--                                    emptyFilterMessage="לא נמצאו תוצאות"-->
					<!--                                    optionLabel="custId"-->
					<!--                                    appendTo="body"-->
					<!--                                    dataKey="custId"-->
					<!--                                    styleClass="ddInfoCompanyForm"-->
					<!--                                    -->
					<!--                                    [style]="{'width': '100%'}"-->
					<!--                                    placeholder="בחירה"-->
					<!--                                    panelStyleClass="company-customer-dropdown-panel cardsDD"-->
					<!--                                    #formDropdowns>-->
					<!--                                <ng-template let-item pTemplate="selectedItem">-->
					<!--                                                        <span style="vertical-align:middle;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"-->
					<!--                                                              #spanElement-->
					<!--                                                              [tooltipDisabled]="spanElement.offsetWidth >= spanElement.scrollWidth"-->
					<!--                                                              [pTooltip]="item.custId + ' - ' + item.lName"-->
					<!--                                                              tooltipPosition="top">{{item.custId}}</span>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template let-item pTemplate="item">-->
					<!--                                    <div class="p-helper-clearfix cust-item">-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis">{{item.custId}}</span>-->
					<!--                                        </div>-->
					<!--                                        <div class="separator" *ngIf="item.lName"><span>-</span></div>-->
					<!--                                        <div>-->
					<!--                                            <span class="text-ellipsis" *ngIf="item.lName">{{item.lName}}</span>-->
					<!--                                        </div>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                                <ng-template pTemplate="noItem">-->
					<!--                                    <div class="p-helper-clearfix"-->
					<!--                                         style="font-size: .95em; padding: .3em 1em;">-->
					<!--                                        <div>לא מצאת את הכרטיס שחיפשת?</div>-->
					<!--                                        <div>צרו כרטיס חדש בהנה"ח</div>-->
					<!--                                        <button class="button-link"-->
					<!--                                                style="padding: 0; font-size: inherit;">-->
					<!--                                            ולחצו על-->
					<!--                                            רענון הנתונים-->
					<!--                                        </button>-->
					<!--                                    </div>-->
					<!--                                </ng-template>-->
					<!--                            </p-dropdown>-->
					<!--                        </div>-->
					<!--                    </div>-->
				</div>
			</div>
		</form>
	</div>
</div>
