<div class="accountsOcrTab" style="margin-top: 10px">
	<div class="navTable">
		<div (click)="addTokenPrompt.show()" id="addBankAccount">
			<img
					src="/assets/images/add.png"
					style="
          align-self: center;
          flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          margin: 0 0px 0px 4px;
        "
			/>
			<label>{{ 'actions.addAccount' | translate }}</label>
		</div>
		<ul style="display: flex; justify-content: space-between">
			<li (click)="toggleExpandedForAllTo(true)" class="button-link">
				{{ 'actions.expandAll' | translate }}
			</li>
			<li>|</li>
			<li (click)="toggleExpandedForAllTo(false)" class="button-link">
				{{ 'actions.collapseAll' | translate }}
			</li>
		</ul>
		<div>
			<p-checkbox [binary]="true"
			            [formControl]="showDeletedAccounts"
			            checkboxIcon="fa fa-check"
			            class="checkboxGraph"
			            id="p-showHideValuesInside"
			            inputId="showHideValuesInside"
			            label="הצג חשבונות שנמחקו"
			>
			</p-checkbox>
		</div>
	</div>
	<div class="tableAccounts">
		<div #header class="header">
			<div class="separator"></div>
			<div></div>
			<div class="separator"></div>
			<div>שם החשבון</div>
			<div class="separator"></div>
			<div>מס׳ חשבון</div>
			<div class="separator"></div>
			<div>סניף</div>
			<div class="separator"></div>
			<div>כרטיסי אשראי</div>
			<div class="separator"></div>
			<div>כרטיס בהנה"ח</div>
			<div class="separator"></div>
			<div></div>
			<div class="separator"></div>
			<div></div>
			<div class="separator"></div>
			<div></div>
			<div class="separator"></div>
			<div></div>
			<div class="separator"></div>
		</div>
		<div
				[appScrollHeight]="header.getBoundingClientRect().bottom + 5"
				class="scrollPage scrollbar-dynamic"
				style="position: relative"
		>
			<div *ngIf="loader" class="loader">
				<div class="circle"></div>
			</div>
			<ng-container *ngIf="byTokenGroups$ | async as byTokenGroups">
				<!--                content: '\f107';-->
				<!--                font-family: 'Font Awesome 5 Free';-->
				<!--                font-weight: 900;-->
				<!--                -webkit-text-stroke: 1px white;-->

				<!--                angle-down-->
				<!--                angle-up-->
				<ng-template #nonDeletedAccountsOnly let-tokenGroup>
					<div
							(click)="
              tokenGroup.children.length && toggleExpandedFor(tokenGroup.id)
            "
							[class.pointer]="tokenGroup.children.length > 0"
					>
						<i
								*ngIf="tokenGroup.children.length"
								[ngClass]="
                groupExpanded[tokenGroup.id] ? 'fa-angle-up' : 'fa-angle-down'
              "
								class="fas"
								style="padding: 0 6px; font-size: 20px"
						></i>
						<i *ngIf="!tokenGroup.children.length" class="fas">&nbsp;</i>
					</div>
				</ng-template>

				<ng-template #watchDeletedAccounts let-tokenGroup>
					<ng-container *ngIf="deletedAccounts$ | async as deletedAccounts">
						<div
								(click)="
                (tokenGroup.children.length ||
                  deletedAccounts[tokenGroup.id]) &&
                  toggleExpandedFor(tokenGroup.id)
              "
								[class.pointer]="
                tokenGroup.children.length || deletedAccounts[tokenGroup.id]
              "
						>
							<i
									*ngIf="
                  tokenGroup.children.length || deletedAccounts[tokenGroup.id]
                "
									[ngClass]="
                  groupExpanded[tokenGroup.id] ? 'fa-angle-up' : 'fa-angle-down'
                "
									class="fas"
									style="padding: 0 6px; font-size: 20px"
							></i>
							<i
									*ngIf="
                  !(
                    tokenGroup.children.length || deletedAccounts[tokenGroup.id]
                  )
                "
									class="fas"
							>&nbsp;</i
							>
						</div>
					</ng-container>
				</ng-template>

				<div *ngFor="let tokenGroup of byTokenGroups">
					<div class="rowTitle">
						<ng-template
								[ngTemplateOutletContext]="{
                $implicit: tokenGroup
              }"
								[ngTemplateOutlet]="
                showDeletedAccounts.value
                  ? watchDeletedAccounts
                  : nonDeletedAccountsOnly
              "
						></ng-template>

						<img
								style="height: auto; width: auto; position: relative;" fill [ngSrc]="tokenGroup.status.websiteTargetTypeId | toIconSrc: 'bank'"
						/>&nbsp;

						<!--<input [(ngModel)]="tokenGroup.status.tokenNickname" #tokenNicknameInp-->
						<!--(focus)="selectedToken = tokenGroup.status;" (blur)="selectedToken = null;"-->
						<!--(keydown.enter)="tokenNicknameInp.blur();"-->
						<!--(keydown.esc)="selectedToken.tokenNickname = ''; tokenNicknameInp.blur();"-->
						<!--[readonly]="!tokenGroup.status.hasPrivs || selectedToken !== tokenGroup.status"-->
						<!--[disabled]="!tokenGroup.status.hasPrivs">-->
						{{ tokenGroup.status.tokenNickname }}

						<ng-container>
							<app-token-status-view
									(creationSuccess)="forceReload$.next()"
									[companyId]="(selectedCompany$ | async).companyId"
									[status]="tokenGroup.status"
							>
							</app-token-status-view>
						</ng-container>
					</div>

					<ng-container
							*ngIf="tokenGroup.children.length && groupExpanded[tokenGroup.id]"
					>
						<div
								(blur)="selectedAccount = null"
								(focus)="selectedAccount = itemChild"
								*ngFor="let itemChild of tokenGroup.children"
								[class.row-outdated]="
                !(itemChild.balanceLastUpdatedDate | isToday: true:false)
              "
								class="row"
								tabindex="-1"
						>
							<div class="separator"></div>
							<div></div>
							<div class="separator"></div>

							<div>
								<input
										#accNicknameInp
										(blur)="selectedAccount = null"
										(focus)="selectedAccount = itemChild"
										(keydown.enter)="accNicknameInp.blur()"
										(keydown.esc)="
                    selectedAccount.accountNickname = ''; accNicknameInp.blur()
                  "
										[(ngModel)]="itemChild.accountNickname"
										[appMaxInputLength]="19"
										[disabled]="true"
										[readonly]="selectedAccount !== itemChild"
								/>
								<!--{{itemChild.accountNickname}}-->
								<div class="nickname-with-currency">
									<div class="text-ellipsis">
										{{ itemChild.accountNickname }}
									</div>
									<div class="currency">
										({{ itemChild.currency | currencySymbol }})
									</div>
								</div>
								<!--<i class="currency">({{itemChild.currency| currencySymbol}})</i>-->
							</div>
							<div class="separator"></div>
							<div>
								{{ itemChild.bankAccountId }}
							</div>
							<div class="separator"></div>
							<div>
								{{ itemChild.bankSnifId }}
							</div>
							<div class="separator"></div>
							<div>
								<div *ngIf="!itemChild.creditCardNum; else navigateToCardsLink">
									ללא
								</div>
								<ng-template #navigateToCardsLink>
									<ng-container
											*ngIf="linkedCreditCards$ | async as linkedCreditCards"
									>
										<div
												(click)="
                        itemChild.creditCardNum > 1
                          ? navigateToCreditCard(
                              linkedCreditCards[itemChild.companyAccountId][0]
                                .creditCardId
                            )
                          : null
                      "
												*ngIf="
                        linkedCreditCards[itemChild.companyAccountId]?.length
                      "
												[class.link]="itemChild.creditCardNum > 1"
										>
											{{
											itemChild.creditCardNum > 1
													? itemChild.creditCardNum + ' כרטיסים'
													: linkedCreditCards[itemChild.companyAccountId][0]
															.creditCardNo
											}}
											<!--{{(linkedCreditCards[itemChild.companyAccountId][0].creditCardNo) +-->
											<!--((itemChild.creditCardNum > 1)-->
											<!--? ' ועוד ' + (itemChild.creditCardNum - 1) + ' כרטיסים'-->
											<!--: '')}}-->
											<!--{{itemChild.creditCardNum}}-->
											<!--כרטיסים-->
										</div>
									</ng-container>
								</ng-template>
							</div>
							<div class="separator"></div>
							<div>
								{{ itemChild.izuCustId ? itemChild.izuCustId.cartisName : '' }}
							</div>
							<div class="separator"></div>
							<div></div>
							<div class="separator"></div>
							<div>
								<i
										*ngIf="
                    itemChild.alertStatus
                      | alertStatusHumanize as alertStatusHumanized
                  "
										class="outdated"
								>
									{{ alertStatusHumanized }}
								</i>
							</div>
							<div class="separator"></div>
							<div>
								<!--                <span *ngIf="!itemChild.primaryAccount" class="showHover" style="color: #038ed6;"-->
								<!--                      (click)="accountSetPrimary(itemChild)">-->
								<!--                בחירת חשבון מוביל-->
								<!--                </span>-->
							</div>
							<div class="separator"></div>
							<div>
								<button
										(click)="accountDelete(itemChild)"
										[disabled]="accountDeletePrompt.visible"
										class="button-link"
								>
									<img class="showHover" style="height: auto; width: auto; position: relative;" src="/assets/images/trash.png"/>
								</button>

								<!--                                <i class="fas fa-ellipsis-v"-->
								<!--                                   (click)="setVarTool(itemChild); panelEdit.toggle($event);"></i>-->
							</div>
							<div class="separator" style="padding-left: 18px"></div>
						</div>
					</ng-container>
					<ng-container
							*ngIf="showDeletedAccounts.value && groupExpanded[tokenGroup.id]"
					>
						<ng-container *ngIf="deletedAccounts$ | async as deletedAccounts">
							<div
									*ngFor="let itemChild of deletedAccounts[tokenGroup.id]"
									class="row deletedAccountRow"
									tabindex="-1"
							>
								<div class="separator"></div>
								<div></div>
								<div class="separator"></div>

								<div>
									<div class="nickname-with-currency">
										<div class="text-ellipsis">
											{{ itemChild.accountNickname }}
										</div>
										<div class="currency">
											({{ itemChild.currency | currencySymbol }})
										</div>
									</div>
									<i> (נמחק) </i>
								</div>
								<div class="separator"></div>
								<div>
									{{ itemChild.bankAccountId }}
								</div>
								<div class="separator"></div>
								<div>
									{{ itemChild.bankSnifId }}
								</div>
								<div class="separator"></div>
								<div *ngIf="itemChild.creditCardNum === 0">ללא</div>
								<div
										*ngIf="itemChild.creditCardNum !== 0"
										style="color: #038ed6"
								>
									{{ itemChild.creditCardNum }}
									כרטיסים
								</div>
								<div class="separator"></div>
								<div>
									{{
									itemChild.izuCustId ? itemChild.izuCustId.cartisName : ''
									}}
								</div>
								<div class="separator"></div>
								<div></div>
								<div class="separator"></div>
								<div></div>
								<div class="separator"></div>
								<div>
                  <span
		                  (click)="accountRestore(itemChild)"
		                  class="showHover link"
                  >
                    {{ 'actions.restoreAccount' | translate }}
                  </span>
								</div>
								<div class="separator"></div>
								<div></div>
								<div class="separator"></div>
							</div>
						</ng-container>
					</ng-container>
				</div>

				<!--                <p-overlayPanel-->
				<!--                        styleClass="tooltip-bottom tooltip-acc-deviation tooltip-daily-edit overlayPanelRightClick"-->
				<!--                        [style]="{'transform': 'translate(-10px, 10px)', 'width': 'auto'}"-->
				<!--                        #panelEdit-->
				<!--                        appendTo="body">-->
				<!--                    <ul style="width: 185px;">-->
				<!--                        <li (click)="openCardDDEdit = true; panelEdit.hide();">-->
				<!--                            <div class="p-helper-clearfix"-->
				<!--                                 style="display: flex; display: -ms-flexbox;">-->
				<!--                                <p class="nameAcc"-->
				<!--                                   style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;flex: 85;-ms-flex:85;">-->
				<!--                                    עדכון כרטיס-->
				<!--                                </p>-->
				<!--                            </div>-->
				<!--                        </li>-->
				<!--                    </ul>-->
				<!--                </p-overlayPanel>-->
			</ng-container>
		</div>
	</div>
</div>

<app-token-create-dialog
		(creationSuccess)="forceReload$.next()"
		(openCallService)="sharedComponent.showOpenTicket()"
		*ngIf="addTokenPrompt.visible"
		[(display)]="addTokenPrompt.visible"
		[companyId]="(selectedCompany$ | async).companyId"
		[settings]="addTokenPrompt.form"
		[type]="tokenTypes.ACCOUNT"
>
</app-token-create-dialog>

<p-dialog
		[visible]="(accountRestorePrompt?.visible)"
		(visibleChange)="accountRestorePrompt.visible = $event"
		[modal]="true"
		[style]="{width: 360 + 'px'}"
		appendTo="body"
		styleClass="deleteMovementDialog"
>
	<p-header>{{ 'actions.accountRestore.title' | translate }}</p-header>

	<div
			[innerHTML]="
      'actions.accountRestore.subjectPtrn'
        | translate: accountRestorePrompt.account
    "
			class="mat-h3"
			style="font-weight: 700"
	></div>
	<div
			style="
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
"
			[innerHTML]="'actions.accountRestore.body' | translate"
			class="mat-h4"
	></div>

	<p-footer>
		<div style="justify-content: center">
			<button
					(click)="accountRestorePrompt.visible = false"
					class="button-white button-link"
			>
				{{ 'actions.accountRestore.decline' | translate }}
			</button>
			<button
					(click)="accountRestorePrompt.onApprove()"
					[disabled]="accountRestorePrompt?.processing"
					class="button-dark"
			>
				<i
						*ngIf="accountRestorePrompt?.processing"
						class="fas fa-fw fa-circle-notch fa-spin"
				></i>
				{{ 'actions.accountRestore.approve' | translate }}
			</button>
		</div>
	</p-footer>
</p-dialog>

<p-dialog
		(visibleChange)="accountDeletePrompt.visible = $event"
		[visible]="(accountDeletePrompt?.visible)"
		[modal]="true"
		[style]="{width: 368 + 'px'}"
		appendTo="body"
		styleClass="deleteMovementDialog accountsOcrTabDeleteMovementDialog"
>
	<p-header>מחיקת חשבון</p-header>

	<div>
		<strong>
			אתם עומדים למחוק את חשבון
			{{
			accountDeletePrompt && accountDeletePrompt.account
					? accountDeletePrompt.account?.accountNickname
					: ''
			}},
		</strong>

		<p>
			בלחיצה על ‘מחיקה’ לא נמשוך יותר נתונים לחשבון זה,
			<br/>
			היסטוריית הנתונים לא תוצג במסמכי המערכת.
		</p>

		<p>
			מחיקת החשבון תמחק גם את כל כרטיסי האשראי
			<br/>
			המקושרים אליו.
			<br/>
			להמשיך ולמחוק את החשבון?
		</p>
	</div>
	<p-footer>
		<div style="justify-content: flex-end">
			<button
					(click)="accountDeletePrompt.visible = false"
					class="button-white button-link"
			>
				{{ 'actions.accountRestore.decline' | translate }}
			</button>
			<button
					(click)="accountDeletePrompt.onApprove()"
					[disabled]="accountDeletePrompt.processing"
					class="button-dark"
			>
				<i
						*ngIf="accountDeletePrompt.processing"
						class="fas fa-fw fa-circle-notch fa-spin"
				></i>
				מחיקת חשבון
			</button>
		</div>
	</p-footer>
</p-dialog>

<ng-container *ngIf="openCardDDEdit">
	<p-dialog
			(visibleChange)="openCardDDEdit = $event"
			[visible]="(openCardDDEdit)"

			[modal]="true"
			[style]="{width: 450 + 'px'}"
			appendTo="body"

			styleClass="deleteMovementDialog accountsOcrTabDeleteMovementDialog"
	>
		<p-header>
			עדכון כרטיס הנהלת חשבונות לחברת
			{{ userService.appData?.userData?.companySelect?.companyName }}
		</p-header>

		<div style="text-align: center">
			<h2>
				<strong style="font-size: 24px"> שימו לב! </strong>
			</h2>
			<p style="margin-bottom: 0">
				<strong style="line-height: 18px; margin-bottom: 6px">
					שינוי כרטיס יגרום למחיקת כל ההיסטוריה מ- bizibox.
				</strong>
			</p>
			<p style="line-height: 18px">יכול לגרום גם לבעיות בהנהלת חשבונות.</p>

			<p-dropdown
					#formDropdowns
					(onFocus)="clearFilter(formDropdowns)"

					[(ngModel)]="tooltipEditFile.izuCustId"
					[autoDisplayFirst]="false"
					[filter]="true"

					[options]="
          userService.appData.userData.companyCustomerDetails.banksCards
        "
					[scrollHeight]="'135px'"
					[style]="{ width: '300px' }"
					appendTo="body"
					dataKey="custId"
					emptyFilterMessage="לא נמצאו תוצאות"
					filterBy="lName,custId,hp"
					id="custFrom"
					optionLabel="custId"
					panelStyleClass="company-customer-dropdown-panel cardsDD card282"
					placeholder="בחירה"
					style="display: flex; justify-content: center; margin-bottom: 20px"
					styleClass="ddInfoCompanyForm"
			>
				<ng-template let-item pTemplate="selectedItem">
          <span
		          #spanElement
		          [pTooltip]="item.cartisName"
		          [tooltipDisabled]="
              spanElement.offsetWidth >= spanElement.scrollWidth
            "
		          style="
              vertical-align: middle;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
		          tooltipPosition="top"
          >{{ item.cartisName }}</span
          >
				</ng-template>
				<ng-template let-item pTemplate="title">
					<div class="p-helper-clearfix">
						<span> כרטיסי בנק: </span>
					</div>
				</ng-template>
				<ng-template let-item pTemplate="item">
					<div
							[class.bottom9]="item.value?.isLastHistory"
							class="p-helper-clearfix"
					>
						<div>
							<span class="text-ellipsis">{{ item.cartisName }}</span>
						</div>
					</div>
					<div
							*ngIf="item.value?.isLastHistory"
							style="
              height: 1px;
              background: #cacaca;
              padding: 0;
              position: absolute;
              bottom: -6px;
              right: 0;
              left: 0;
              z-index: 999;
            "
					></div>
				</ng-template>
			</p-dropdown>
		</div>
		<p-footer>
			<div style="justify-content: center">
				<button
						(click)="openCardDDEdit = false"
						class="button-white button-link"
				>
					{{ 'actions.accountRestore.decline' | translate }}
				</button>
				<button
						(click)="openCardDDEdit = false; changeIzuCustId(tooltipEditFile)"
						class="button-dark"
						style="width: 160px"
				>
					אישור
				</button>
			</div>
		</p-footer>
	</p-dialog>
</ng-container>
