<div [formGroup]="form" class="inline-form">
	<label style="font-weight: bolder">חפש:</label>
	<p-dropdown
			[options]="searchTypesDD"
			
			[style]="{ width: '20ch' }"
			[formControl]="form.get('type')"
			[dropdownIcon]="'p-dropdown-icon'"
	>
	</p-dropdown>
	
	<div class="search" [class.validation-error]="form.get('value').invalid">
		<input
				type="text"
				placeholder="{{ 'filters.search' | translate }}"
				autocomplete="off"
				[formControl]="form.get('value')"
		/>
	</div>
</div>

<!--<pre>{{form.value| json}}</pre>-->
<!--<pre>{{usersAdmin| json}}</pre>-->
<div class="user-on-behalf table-container" [formGroup]="form">
	<div class="table-header">
		<div>
			<span>{{ 'שם משתמש' }}</span>
		</div>
		<div>{{ 'שם חברה' }}</div>
		<div>{{ 'ח.פ.' }}</div>
		<div>{{ "מס' חברות" }}</div>
	</div>
	<div
			class="table-body scrollbar-dynamic"
			[appScrollHeight]="360 + (paginator ? 0 : 46)"
			[appendTo]="'parent'"
	>
		<ng-container *ngIf="adminService.usersToAdmin">
			<ng-container
					*ngIf="adminService.usersToAdmin | async as usersToAdmin; else loading"
			>
				<div
						class="row"
						*ngFor="
            let r of usersToAdmin
              | slice
                : currentPage * entryLimit
                : currentPage * entryLimit + entryLimit;
            trackBy: recordTrack
          "
						(click)="
            form.patchValue({
              user: r.userId + '|' + r.companyHp + '|' + r.userName
            })
          "
				>
					<!--<div>{{r.userName}}</div>-->
					<div>
						<p-radioButton
								name="users"
								[value]="r.userId + '|' + r.companyHp + '|' + r.userName"
								[label]="r.userName"
								[inputId]="'row' + (r.userId + '|' + r.companyHp)"
								[formControl]="form.get('user')"
						></p-radioButton>
						<mat-icon
								*ngIf="!r.activation"
								style="
                height: auto;
                width: 16px;
                margin-right: 6px;
                margin-top: 0;
                padding: 0;
              "
								[svgIcon]="'activation_false'"
						></mat-icon>
					</div>
					<div>{{ r.companyName }}</div>
					<div>{{ r.companyHp }}</div>
					<div>
						<span>{{ r.totalCompanies }}</span>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>

<ng-container *ngIf="adminService.usersToAdmin | async as usersToAdmin">
	<app-paginator
			[rows]="entryLimit"
			[alwaysShow]="false"
			#paginator
			[totalRecords]="usersToAdmin.length"
			(onPageChange)="paginate($event)"
	>
	</app-paginator>
</ng-container>
<ng-template #loading>
	<div class="loader">
		<div class="circle"></div>
	</div>
</ng-template>
