<ng-container
		*ngIf="
    accountSelectOneNotUpdate ||
    accountSelectOneHariga ||
    accountSelectOneFromMultipleHariga ||
    accountSelectMultipleHariga
  "
>
	<div>
		<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/statusIc.png"/>
	</div>
	<div style="min-width: 0; white-space: nowrap">מצב החשבונות להיום בבוקר</div>
	<div class="token-status-view">
		<div
				class="outdated-view"
				*ngIf="accountSelectOneNotUpdate"
				style="margin-right: auto"
		>
			<div><i class="fas fa-fw fa-exclamation-triangle"></i></div>
			<div>
				<div>
					{{ 'sumsTitles.notUpdates' | translate }}
				</div>
				<div>
					{{ 'sumsTitles.lastUpdate' | translate }}
					{{
					accounts[0].balanceLastUpdatedDate | todayRelativeHumanize: 'days'
					}}
				</div>
			</div>
		</div>
		
		<div
				class="outdated-view"
				*ngIf="accountSelectOneHariga"
				style="margin-right: auto"
		>
			<div>
				<div class="accountSelectOneHariga">
					{{ 'sumsTitles.accountExceeded' | translate }}
				</div>
			</div>
		</div>
		
		<div
				class="outdated-view"
				*ngIf="accountSelectOneFromMultipleHariga"
				style="margin-right: auto"
		>
			<div>
				<div class="accountSelectOneHariga">
					{{ 'sumsTitles.account' | translate }}
					{{ accountSelectOneFromMultipleHariga.accountNickname }} ({{
					accountSelectOneFromMultipleHariga.currency | currencySymbol
					}})
					{{ 'sumsTitles.exceeding' | translate }}
				</div>
			</div>
		</div>
		
		<div
				class="outdated-view"
				*ngIf="accountSelectMultipleHariga"
				style="margin-right: auto"
		>
			<div>
				<div class="link" (click)="tooltipAccDeviation.toggle($event)">
					<div class="accountSelectOneHariga hoverUnderline">
						{{ accountSelectMultipleHariga.length }}
						{{ 'sumsTitles.accountsExceeded' | translate }}
					</div>
					<p-overlayPanel
							styleClass="tooltip-bottom tooltip-acc-deviation"
							[style]="{ transform: 'translate(-50%, 10px)', width: 'auto' }"
							#tooltipAccDeviation
							appendTo="body"
					>
						<ul class="scroll-chrome">
							<li
									*ngFor="let acc of accountSelectMultipleHariga"
									(click)="
                  selectAccountInDeviation(acc); tooltipAccDeviation.hide()
                "
							>
                <span>{{ acc.accountNickname }}</span
                >&nbsp;<span class="sum-debit"
							>(
                  <p style="direction: ltr; display: inline-block">
                    {{ acc.accountBalance | sum }}
                  </p>
								{{ acc.currency | currencySymbol }} )</span
							>
							</li>
						</ul>
					</p-overlayPanel>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<ng-container
		*ngIf="
    !accountSelectOneNotUpdate &&
    !accountSelectOneHariga &&
    !accountSelectOneFromMultipleHariga &&
    !accountSelectMultipleHariga
  "
>
	<div>
		<img style="height: auto; width: auto; position: relative;" fill ngSrc="/assets/images/statusOk.png"/>
	</div>
	<div>מצב החשבונות להיום בבוקר</div>
	<div
			class="sum-credit"
			style="font-weight: bold; color: #229f88; text-align: left"
	>
		לא קיימת חריגה
	</div>
</ng-container>
